{
  "openapi": "3.0.3",
  "info": {
    "title": "Yahoo Finance Web Market Data API",
    "version": "2026-08-10",
    "description": "Unofficial metadata for undocumented, read-only JSON endpoints used by provider-owned Yahoo Finance pages. Yahoo does not publish or support these endpoints as a public Finance developer API; paths, fields, authentication and availability may change without notice. The provider-owned Help pages cited below document the corresponding user-facing chart, historical-data and search features, not this wire protocol. Observed properties are deliberately modeled as open, non-exhaustive shapes and are not an official contract. Yahoo Help says displayed information is informational, may have exchange delays and must not be redistributed; Yahoo Terms also prohibit automated collection without prior permission. Review the applicable terms and data-provider restrictions before access or reuse.",
    "license": {
      "name": "Proprietary / undocumented"
    },
    "x-pontx-policy-evidence": [
      "https://legal.yahoo.com/us/en/yahoo/terms/otos/index.html",
      "https://help.yahoo.com/kb/finance/SLN2310.html"
    ]
  },
  "externalDocs": {
    "description": "Yahoo Help: market data and research tools available in Yahoo Finance (feature documentation, not API documentation)",
    "url": "https://help.yahoo.com/kb/market-data-research-tools-yahoo-finance-sln24381.html"
  },
  "tags": [
    {
      "name": "Charts",
      "description": "Observed chart and compact time-series requests. Unofficial and undocumented."
    },
    {
      "name": "Discovery",
      "description": "Observed symbol lookup and instrument identity requests. Unofficial and undocumented."
    },
    {
      "name": "Fundamentals",
      "description": "Observed modular fundamentals requests. Some endpoints require Yahoo browser-session state."
    }
  ],
  "servers": [
    {
      "url": "https://query1.finance.yahoo.com"
    },
    {
      "url": "https://query2.finance.yahoo.com"
    }
  ],
  "paths": {
    "/v8/finance/chart/{symbol}": {
      "get": {
        "operationId": "getChart",
        "tags": ["Charts"],
        "summary": "Get chart and historical price data",
        "description": "Get chart and historical price data. Observed anonymously on both query1 and query2 on 2026-08-10; compatibility is not guaranteed. Yahoo's user-facing chart supports date ranges and intervals, but does not document this JSON protocol. Array members under `indicators` align by index with `timestamp` and can contain nulls.",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "Yahoo Finance symbol exactly as used in quote-page URLs. Examples include US equity `AAPL`, index `^GSPC`, and exchange-suffixed `0700.HK`.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AAPL"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Relative lookback range. Do not send together with `period1`/`period2`. Intraday intervals are retained only for limited recent ranges; unsupported combinations return 422.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["1d", "5d", "1mo", "3mo", "6mo", "1y", "2y", "5y", "10y", "ytd", "max"],
              "default": "1mo",
              "example": "5d"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Sampling interval. Availability depends on range and instrument; Yahoo may reject overly old intraday requests.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["1m", "2m", "5m", "15m", "30m", "60m", "90m", "1h", "1d", "5d", "1wk", "1mo", "3mo"],
              "default": "1d",
              "example": "1d"
            }
          },
          {
            "name": "period1",
            "in": "query",
            "description": "Inclusive start time as Unix seconds. Use with `period2` instead of `range`.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1704067200
            }
          },
          {
            "name": "period2",
            "in": "query",
            "description": "Exclusive end time as Unix seconds. Use with `period1` instead of `range`.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1706745600
            }
          },
          {
            "name": "includePrePost",
            "in": "query",
            "description": "Include extended hours",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "example": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chart result. Price arrays align by index with `timestamp`; individual price or volume entries can be null when a bar has no value.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chart": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "meta": {
                                "type": "object",
                                "properties": {
                                  "symbol": {
                                    "type": "string",
                                    "example": "AAPL"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "example": "USD"
                                  },
                                  "exchangeName": {
                                    "type": "string",
                                    "description": "Observed Yahoo exchange code; not a closed registry.",
                                    "example": "NMS"
                                  },
                                  "fullExchangeName": {
                                    "type": "string",
                                    "example": "NasdaqGS"
                                  },
                                  "instrumentType": {
                                    "type": "string",
                                    "description": "Observed provider-controlled instrument category; intentionally not a closed enum.",
                                    "example": "EQUITY"
                                  },
                                  "regularMarketPrice": {
                                    "type": "number",
                                    "example": 313.33
                                  },
                                  "chartPreviousClose": {
                                    "type": "number",
                                    "example": 308.91
                                  },
                                  "regularMarketTime": {
                                    "type": "integer",
                                    "format": "int64",
                                    "description": "Unix seconds.",
                                    "example": 1786132801
                                  },
                                  "gmtoffset": {
                                    "type": "integer",
                                    "description": "Observed UTC offset in seconds.",
                                    "example": -14400
                                  },
                                  "exchangeTimezoneName": {
                                    "type": "string",
                                    "example": "America/New_York"
                                  },
                                  "dataGranularity": {
                                    "type": "string",
                                    "example": "1d"
                                  },
                                  "range": {
                                    "type": "string",
                                    "example": "5d"
                                  },
                                  "validRanges": {
                                    "type": "array",
                                    "description": "Provider-returned ranges for this result; values can change.",
                                    "items": {"type": "string"},
                                    "example": ["1d", "5d", "1mo", "max"]
                                  }
                                },
                                "additionalProperties": true
                              },
                              "timestamp": {
                                "type": "array",
                                "description": "Bar timestamps as Unix seconds. Price and volume arrays use matching indexes.",
                                "items": {
                                  "type": "integer",
                                  "format": "int64"
                                },
                                "example": [1704067200, 1704153600]
                              },
                              "indicators": {
                                "type": "object",
                                "properties": {
                                  "quote": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "open": {
                                          "type": "array",
                                          "items": {
                                            "type": "number",
                                            "nullable": true
                                          }
                                        },
                                        "high": {
                                          "type": "array",
                                          "items": {
                                            "type": "number",
                                            "nullable": true
                                          }
                                        },
                                        "low": {
                                          "type": "array",
                                          "items": {
                                            "type": "number",
                                            "nullable": true
                                          }
                                        },
                                        "close": {
                                          "type": "array",
                                          "items": {
                                            "type": "number",
                                            "nullable": true
                                          }
                                        },
                                        "volume": {
                                          "type": "array",
                                          "items": {
                                            "type": "integer",
                                            "format": "int64",
                                            "nullable": true
                                          }
                                        }
                                      },
                                      "additionalProperties": true
                                    }
                                  },
                                  "adjclose": {
                                    "type": "array",
                                    "description": "Observed adjusted-close series; not present for every instrument or interval.",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "adjclose": {"type": "array", "items": {"type": "number", "nullable": true}}
                                      },
                                      "additionalProperties": true
                                    }
                                  }
                                },
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": true
                          }
                        },
                        "error": {
                          "allOf": [{"$ref": "#/components/schemas/YahooError"}],
                          "nullable": true
                        }
                      },
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "422": {
            "description": "Invalid symbol, period, interval, or range/interval combination.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ChartErrorResponse"}
              }
            }
          },
          "404": {
            "description": "Observed for an unknown, blank or delisted symbol. The body uses the `chart` error envelope.",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChartErrorResponse"}}}
          },
          "429": {"$ref": "#/components/responses/RateLimited"}
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://finance.yahoo.com/quote/AAPL/",
          "https://query2.finance.yahoo.com/v8/finance/chart/AAPL?range=5d&interval=1d&includePrePost=false",
          "https://help.yahoo.com/kb/SLN29029.html",
          "https://in.help.yahoo.com/kb/finance/download-historical-data-yahoo-finance-sln2311.html"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "Observed in Yahoo Finance's quote-page network traffic and used by FiApp; compatibility is not guaranteed.",
        "servers": [
          {
            "url": "https://query1.finance.yahoo.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "User-Agent": "Mozilla/5.0 fi-api/1.0"
        },
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": {
          "zh": "这是 Yahoo 未公开支持的网页接口；为避免将不稳定的第三方端点包装成受支持 API，Hub 禁用代理执行。",
          "en": "This is an unsupported Yahoo web endpoint; Hub proxy execution is disabled to avoid presenting it as a stable public API."
        }
      }
    },
    "/v7/finance/quote": {
      "get": {
        "operationId": "getQuotes",
        "tags": ["Discovery"],
        "summary": "Get batch quote snapshots",
        "description": "Get batch quote snapshots. The success shape is retained from observed Yahoo page traffic, not an official contract. A fresh anonymous query1 request returned HTTP 401 with a top-level `finance` error on 2026-08-10; browser cookie or other provider-controlled authorization state may be required.",
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "description": "Comma-separated Yahoo Finance symbols, for example `AAPL,MSFT`.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AAPL,MSFT"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Observed comma-separated field projection. Yahoo publishes neither a complete field registry nor stability guarantees.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "symbol,regularMarketPrice,currency"
            }
          },
          {
            "name": "formatted",
            "in": "query",
            "description": "Return formatted values",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "example": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Observed browser-session success envelope. Anonymous availability is not implied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "quoteResponse": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "symbol": {
                                "type": "string"
                              },
                              "regularMarketPrice": {
                                "type": "number"
                              },
                              "regularMarketChangePercent": {
                                "type": "number"
                              },
                              "regularMarketTime": {
                                "type": "number"
                              },
                              "currency": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": true
                          }
                        },
                        "error": {"$ref": "#/components/schemas/YahooError"}
                      },
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Observed anonymous response: Yahoo browser session or other provider-controlled authorization state is required.",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FinanceErrorResponse"}}}
          },
          "429": {"$ref": "#/components/responses/RateLimited"}
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://finance.yahoo.com/quote/AAPL/",
          "https://query1.finance.yahoo.com/v7/finance/quote?symbols=AAPL"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "Observed in Yahoo Finance's own quote-page traffic; anonymous server requests currently return Unauthorized.",
        "servers": [
          {
            "url": "https://query1.finance.yahoo.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "User-Agent": "Mozilla/5.0 fi-api/1.0"
        },
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": {
          "zh": "Yahoo 当前要求浏览器会话，匿名服务端请求返回 Unauthorized。",
          "en": "Yahoo currently requires browser session state; anonymous server requests return Unauthorized."
        }
      }
    },
    "/v7/finance/spark": {
      "get": {
        "operationId": "getSpark",
        "tags": ["Charts"],
        "summary": "Get compact chart series",
        "description": "Get compact chart series for one or more symbols. A query2 anonymous sample returned HTTP 200 on 2026-08-10. Each result has a symbol and a `response` array containing chart-like objects; response availability and fields remain undocumented.",
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "description": "Comma-separated Yahoo Finance symbols.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AAPL,MSFT"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Requested range",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["1d", "5d", "1mo", "3mo", "6mo", "1y", "2y", "5y", "10y", "ytd", "max"],
              "default": "1d",
              "example": "5d"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Bar interval",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["1m", "2m", "5m", "15m", "30m", "60m", "90m", "1h", "1d", "5d", "1wk", "1mo", "3mo"],
              "default": "5m",
              "example": "1d"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Observed compact chart envelope. `spark.error` was null in the verified success sample.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "spark": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "symbol": {
                                "type": "string"
                              },
                              "response": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "meta": {
                                      "type": "object",
                                      "description": "Observed chart metadata; uses the same open provider shape as the chart endpoint.",
                                      "properties": {
                                        "currency": {"type": "string", "example": "USD"},
                                        "symbol": {"type": "string", "example": "AAPL"},
                                        "dataGranularity": {"type": "string", "example": "1d"},
                                        "range": {"type": "string", "example": "5d"}
                                      },
                                      "additionalProperties": true
                                    },
                                    "timestamp": {
                                      "type": "array",
                                      "items": {
                                        "type": "integer",
                                        "format": "int64"
                                      },
                                      "example": [1704067200, 1704153600]
                                    },
                                    "indicators": {
                                      "type": "object",
                                      "properties": {
                                        "quote": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "close": {
                                                "type": "array",
                                                "items": {
                                                  "type": "number",
                                                  "nullable": true
                                                }
                                              }
                                            },
                                            "additionalProperties": true
                                          }
                                        }
                                      },
                                      "additionalProperties": true
                                    }
                                  },
                                  "additionalProperties": true
                                }
                              }
                            },
                            "additionalProperties": true
                          }
                        }
                        ,
                        "error": {"$ref": "#/components/schemas/YahooError"}
                      },
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {"description": "Missing or invalid symbols/range/interval parameter.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FinanceErrorResponse"}}}},
          "429": {"$ref": "#/components/responses/RateLimited"}
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://finance.yahoo.com/quote/AAPL/",
          "https://query1.finance.yahoo.com/v7/finance/spark?symbols=AAPL,MSFT&range=5d&interval=1d"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "Observed in Yahoo Finance's own market widgets.",
        "servers": [
          {
            "url": "https://query1.finance.yahoo.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "User-Agent": "Mozilla/5.0 fi-api/1.0"
        },
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": {
          "zh": "这是 Yahoo 未公开支持的网页接口；Hub 禁用代理执行。",
          "en": "This is an unsupported Yahoo web endpoint; Hub proxy execution is disabled."
        }
      }
    },
    "/v1/finance/quoteType/": {
      "get": {
        "operationId": "getQuoteType",
        "tags": ["Discovery"],
        "summary": "Get security type and identity",
        "description": "Get security type and identity. A query1 anonymous sample returned HTTP 200 on 2026-08-10. Category, exchange and feature-flag fields are provider-controlled and remain an open shape.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Yahoo Finance symbol",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AAPL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "quoteType": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "symbol": {
                                "type": "string",
                                "example": "AAPL"
                              },
                              "quoteType": {
                                "type": "string",
                                "description": "Provider-controlled instrument category such as `EQUITY`, `ETF`, `MUTUALFUND`, `INDEX`, `CURRENCY`, `CRYPTOCURRENCY`, `FUTURE` or `OPTION`. This is intentionally not a closed enum."
                              },
                              "longName": {
                                "type": "string",
                                "example": "Apple Inc."
                              },
                              "exchange": {
                                "type": "string",
                                "description": "Observed Yahoo exchange code; not a closed registry.",
                                "example": "NMS"
                              },
                              "exchangeTimezoneName": {
                                "type": "string",
                                "example": "America/New_York"
                              },
                              "market": {
                                "type": "string",
                                "example": "us_market"
                              }
                            },
                            "additionalProperties": true
                          }
                        },
                        "error": {"$ref": "#/components/schemas/YahooError"}
                      },
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Observed when the required `symbol` query parameter is absent.",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FinanceErrorResponse"}}}
          },
          "429": {"$ref": "#/components/responses/RateLimited"}
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://finance.yahoo.com/quote/AAPL/",
          "https://query1.finance.yahoo.com/v1/finance/quoteType/?symbol=AAPL"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "Observed on Yahoo Finance's quote page.",
        "servers": [
          {
            "url": "https://query1.finance.yahoo.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "User-Agent": "Mozilla/5.0 fi-api/1.0"
        },
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": {
          "zh": "这是 Yahoo 未公开支持的网页接口；Hub 禁用代理执行。",
          "en": "This is an unsupported Yahoo web endpoint; Hub proxy execution is disabled."
        }
      }
    },
    "/v1/finance/search": {
      "get": {
        "operationId": "searchSymbols",
        "tags": ["Discovery"],
        "summary": "Search securities",
        "description": "Search securities by symbol or name. A query2 anonymous sample returned HTTP 200 on 2026-08-10. Yahoo Help documents the search feature, not this JSON shape; result ranking, auxiliary collections and timing fields can change.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Free-text company name, symbol, fund name, index or other security query.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "Apple"
            }
          },
          {
            "name": "quotesCount",
            "in": "query",
            "description": "Maximum securities",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 6,
              "example": 2
            }
          },
          {
            "name": "newsCount",
            "in": "query",
            "description": "Maximum news results",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 4,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Observed search response. `quotes` is a non-exhaustive projection; the provider can also return news, navigation, lists, research and other collections.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "Observed number of returned quote matches.",
                      "example": 2
                    },
                    "quotes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string",
                            "example": "AAPL"
                          },
                          "shortname": {
                            "type": "string"
                          },
                          "longname": {
                            "type": "string"
                          },
                          "exchange": {
                            "type": "string",
                            "example": "NMS"
                          },
                          "quoteType": {
                            "type": "string",
                            "description": "Provider-controlled instrument category such as `EQUITY`, `ETF`, `INDEX`, `CURRENCY` or `CRYPTOCURRENCY`."
                          },
                          "typeDisp": {
                            "type": "string",
                            "description": "Observed localized/display category.",
                            "example": "Equity"
                          },
                          "exchDisp": {
                            "type": "string",
                            "description": "Observed exchange display label.",
                            "example": "NASDAQ"
                          },
                          "sector": {
                            "type": "string",
                            "example": "Technology"
                          },
                          "industry": {
                            "type": "string",
                            "example": "Consumer Electronics"
                          }
                        },
                        "additionalProperties": true
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {"description": "Missing or invalid search query.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FinanceErrorResponse"}}}},
          "429": {"$ref": "#/components/responses/RateLimited"}
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://finance.yahoo.com/lookup/",
          "https://query1.finance.yahoo.com/v1/finance/search?q=Apple&quotesCount=2&newsCount=0"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "Provider-owned search endpoint family; validated as a public read-only request.",
        "servers": [
          {
            "url": "https://query1.finance.yahoo.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "User-Agent": "Mozilla/5.0 fi-api/1.0"
        },
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": {
          "zh": "这是 Yahoo 未公开支持的网页接口；Hub 禁用代理执行。",
          "en": "This is an unsupported Yahoo web endpoint; Hub proxy execution is disabled."
        }
      }
    },
    "/v10/finance/quoteSummary/{symbol}": {
      "get": {
        "operationId": "getQuoteSummary",
        "tags": ["Fundamentals"],
        "summary": "Get modular security details",
        "description": "Get modular security details. A fresh anonymous query1 request returned HTTP 401 `Invalid Crumb` on 2026-08-10. A crumb is coupled to provider-controlled browser cookie state; this metadata does not describe a supported authentication flow. Module names and fields can change without notice.",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "Yahoo Finance symbol",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AAPL"
            }
          },
          {
            "name": "modules",
            "in": "query",
            "description": "Comma-separated provider module names. Common observed values include `price`, `summaryDetail`, `assetProfile`, `defaultKeyStatistics`, `financialData`, `calendarEvents`, `recommendationTrend`, `earningsTrend`, `fundProfile`, and `topHoldings`. Availability depends on instrument type and Yahoo session state.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "price,summaryDetail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inferred session-authorized success envelope. Module objects are intentionally open because Yahoo publishes no module schema.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "quoteSummary": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "price": {
                                "type": "object",
                                "properties": {},
                                "additionalProperties": true
                              },
                              "summaryDetail": {
                                "type": "object",
                                "properties": {},
                                "additionalProperties": true
                              },
                              "assetProfile": {
                                "type": "object",
                                "properties": {},
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": true
                          }
                        },
                        "error": {"$ref": "#/components/schemas/YahooError"}
                      },
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Observed anonymous response when a valid crumb/cookie pair is absent.",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FinanceErrorResponse"}}}
          },
          "429": {"$ref": "#/components/responses/RateLimited"}
        },
        "x-pontx-documentation-status": "inferred",
        "x-pontx-evidence": [
          "https://finance.yahoo.com/quote/AAPL/profile/",
          "https://query1.finance.yahoo.com/v10/finance/quoteSummary/AAPL?modules=price,summaryDetail"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "Module availability and crumb requirements can change without notice.",
        "servers": [
          {
            "url": "https://query1.finance.yahoo.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "User-Agent": "Mozilla/5.0 fi-api/1.0"
        },
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": {
          "zh": "Yahoo 当前要求有效的 crumb 与 Cookie，Hub 不代替浏览器建立会话。",
          "en": "Yahoo currently requires a valid crumb and cookie; Hub does not establish browser sessions."
        }
      }
    },
    "/ws/fundamentals-timeseries/v1/finance/timeseries/{symbol}": {
      "get": {
        "operationId": "getFundamentalTimeseries",
        "tags": ["Fundamentals"],
        "summary": "Get fundamental and event time series",
        "description": "Get fundamental and event time series. A query2 anonymous request for `trailingMarketCap` returned HTTP 200 on 2026-08-10. Supported type identifiers and dynamically named result arrays are internal and may change; they are observations, not an enum or official contract.",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "Yahoo Finance symbol",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AAPL"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Comma-separated internal series identifiers. Example: `trailingMarketCap`. Yahoo does not publish a complete supported-value registry; identifiers vary by instrument and may change.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "trailingMarketCap"
            }
          },
          {
            "name": "period1",
            "in": "query",
            "description": "Optional inclusive observed start bound as Unix seconds. When omitted, Yahoo selects a provider-controlled default window.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1704067200
            }
          },
          {
            "name": "period2",
            "in": "query",
            "description": "Optional observed end bound as Unix seconds. When omitted, Yahoo selects a provider-controlled default window.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1735689600
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Observed timeseries envelope. Each item can contain a property whose name equals the requested type, alongside `meta` and `timestamp`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timeseries": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "meta": {
                                "type": "object",
                                "description": "Observed request identity arrays.",
                                "properties": {
                                  "symbol": {"type": "array", "items": {"type": "string"}, "example": ["AAPL"]},
                                  "type": {"type": "array", "items": {"type": "string"}, "example": ["trailingMarketCap"]}
                                },
                                "additionalProperties": true
                              },
                              "timestamp": {
                                "type": "array",
                                "items": {
                                  "type": "integer"
                                },
                                "example": [1717977600, 1720742400]
                              },
                              "trailingMarketCap": {
                                "type": "array",
                                "description": "Example of a dynamically named series property matching the requested type. Other requested types produce differently named properties.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "dataId": {"type": "integer", "example": 40001},
                                    "asOfDate": {"type": "string", "format": "date", "example": "2024-07-12"},
                                    "periodType": {"type": "string", "description": "Observed provider period label; not a closed enum.", "example": "TTM"},
                                    "currencyCode": {"type": "string", "example": "USD"},
                                    "reportedValue": {
                                      "type": "object",
                                      "properties": {
                                        "raw": {"type": "number", "example": 3536499331660},
                                        "fmt": {"type": "string", "example": "3.54T"}
                                      },
                                      "additionalProperties": true
                                    }
                                  },
                                  "additionalProperties": true
                                }
                              }
                            },
                            "additionalProperties": true
                          }
                        },
                        "error": {"$ref": "#/components/schemas/YahooError"}
                      },
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {"description": "Malformed type or period parameter. Omission alone did not produce an error in the 2026-08-10 anonymous sample.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FinanceErrorResponse"}}}},
          "429": {"$ref": "#/components/responses/RateLimited"}
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://finance.yahoo.com/quote/AAPL/",
          "https://query1.finance.yahoo.com/ws/fundamentals-timeseries/v1/finance/timeseries/AAPL?type=trailingMarketCap&period1=1704067200&period2=1735689600"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "Observed on Yahoo Finance's quote chart; supported types are internal and may change.",
        "servers": [
          {
            "url": "https://query1.finance.yahoo.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "User-Agent": "Mozilla/5.0 fi-api/1.0"
        },
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": {
          "zh": "这是 Yahoo 未公开支持的网页接口；类型标识和响应字段可能变化，Hub 禁用代理执行。",
          "en": "This is an unsupported Yahoo web endpoint with unstable type identifiers and fields; Hub proxy execution is disabled."
        }
      }
    }
  },
  "components": {
    "schemas": {
      "YahooError": {
        "type": "object",
        "nullable": true,
        "description": "Observed provider error object. It is null on successful chart-like envelopes; fields and wording are provider-controlled.",
        "properties": {
          "code": {"type": "string", "description": "Observed symbolic or human-readable code; intentionally not a closed enum.", "example": "Unauthorized"},
          "description": {"type": "string", "example": "User is unable to access this feature - https://bit.ly/yahoo-finance-api-feedback"}
        },
        "additionalProperties": true
      },
      "FinanceErrorResponse": {
        "type": "object",
        "description": "Observed error envelope used by quote, discovery and some fundamentals endpoints.",
        "required": ["finance"],
        "properties": {
          "finance": {
            "type": "object",
            "required": ["error"],
            "properties": {
              "result": {"type": "array", "nullable": true, "items": {}, "example": null},
              "error": {"$ref": "#/components/schemas/YahooError"}
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "ChartErrorResponse": {
        "type": "object",
        "description": "Observed chart-family error envelope.",
        "required": ["chart"],
        "properties": {
          "chart": {
            "type": "object",
            "required": ["error"],
            "properties": {
              "result": {"type": "array", "nullable": true, "items": {}, "example": null},
              "error": {"$ref": "#/components/schemas/YahooError"}
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      }
    },
    "responses": {
      "RateLimited": {
        "description": "Rate limited by Yahoo. Quotas, reset behavior and retry timing are not published for these unsupported web endpoints; do not assume a fixed backoff or attempt to bypass throttling.",
        "headers": {
          "Retry-After": {
            "description": "May be supplied by the provider; presence is not guaranteed.",
            "schema": {"type": "string"}
          }
        },
        "content": {
          "application/json": {
            "schema": {"$ref": "#/components/schemas/FinanceErrorResponse"}
          },
          "text/plain": {
            "schema": {"type": "string", "example": "Too Many Requests"}
          }
        }
      }
    }
  }
}
