{
  "openapi": "3.0.3",
  "info": {
    "title": "Yahoo Finance 网页市场数据 API",
    "version": "2026-08-10",
    "description": "Yahoo Finance 官方网页使用的未公开、只读 JSON 接口的非官方元数据。Yahoo 并未将这些接口作为公开的 Finance 开发者 API 发布或提供支持；路径、字段、认证方式和可用性均可能随时变化。下方引用的 Yahoo 官方帮助页面仅说明面向用户的图表、历史数据和搜索功能，并非此传输协议的文档。观测到的属性被特意建模为开放且非穷尽的结构，不构成官方契约。Yahoo 帮助说明，所展示的信息仅供参考，可能存在交易所延迟且不得再分发；Yahoo 条款还禁止未经事先许可的自动化采集。访问或复用前，请审阅适用条款及数据提供商限制。",
    "license": {
      "name": "Proprietary / undocumented"
    },
    "x-pontx-policy-evidence": [
      "https://legal.yahoo.com/us/en/yahoo/terms/otos/index.html",
      "https://help.yahoo.com/kb/finance/SLN2310.html"
    ]
  },
  "externalDocs": {
    "description": "Yahoo 帮助：Yahoo Finance 提供的市场数据与研究工具（功能文档，并非 API 文档）",
    "url": "https://help.yahoo.com/kb/market-data-research-tools-yahoo-finance-sln24381.html"
  },
  "tags": [
    {
      "name": "Charts",
      "description": "观测到的图表和紧凑时间序列请求。非官方且无公开文档。"
    },
    {
      "name": "Discovery",
      "description": "观测到的标的代码查找和金融工具身份信息请求。非官方且无公开文档。"
    },
    {
      "name": "Fundamentals",
      "description": "观测到的模块化基本面数据请求。部分接口需要 Yahoo 浏览器会话状态。"
    }
  ],
  "servers": [
    {
      "url": "https://query1.finance.yahoo.com"
    },
    {
      "url": "https://query2.finance.yahoo.com"
    }
  ],
  "paths": {
    "/v8/finance/chart/{symbol}": {
      "get": {
        "operationId": "getChart",
        "tags": ["Charts"],
        "summary": "获取行情与 K 线",
        "description": "返回证券元数据和历史价格序列。",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "Yahoo Finance 标的代码，必须与行情页面 URL 中使用的值完全一致。例如，美股 `AAPL`、指数 `^GSPC`，以及带交易所后缀的 `0700.HK`。",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AAPL"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "相对回溯范围。请勿与 `period1`/`period2` 同时发送。日内时间间隔的数据仅保留在有限的近期范围内；不支持的组合会返回 422。",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["1d", "5d", "1mo", "3mo", "6mo", "1y", "2y", "5y", "10y", "ytd", "max"],
              "default": "1mo",
              "example": "5d"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "采样间隔。可用性取决于时间范围和金融工具；Yahoo 可能拒绝时间过久的日内数据请求。",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["1m", "2m", "5m", "15m", "30m", "60m", "90m", "1h", "1d", "5d", "1wk", "1mo", "3mo"],
              "default": "1d",
              "example": "1d"
            }
          },
          {
            "name": "period1",
            "in": "query",
            "description": "以 Unix 秒表示的包含式起始时间。请与 `period2` 搭配使用，不要使用 `range`。",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1704067200
            }
          },
          {
            "name": "period2",
            "in": "query",
            "description": "以 Unix 秒表示的排除式结束时间。请与 `period1` 搭配使用，不要使用 `range`。",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1706745600
            }
          },
          {
            "name": "includePrePost",
            "in": "query",
            "description": "包含盘前盘后时段",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "example": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "图表结果。价格数组按索引与 `timestamp` 对齐；当某根 K 线没有对应值时，单个价格或成交量条目可能为 null。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chart": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "meta": {
                                "type": "object",
                                "properties": {
                                  "symbol": {
                                    "type": "string",
                                    "example": "AAPL"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "example": "USD"
                                  },
                                  "exchangeName": {
                                    "type": "string",
                                    "description": "观测到的 Yahoo 交易所代码；并非封闭的代码表。",
                                    "example": "NMS"
                                  },
                                  "fullExchangeName": {
                                    "type": "string",
                                    "example": "NasdaqGS"
                                  },
                                  "instrumentType": {
                                    "type": "string",
                                    "description": "观测到的由提供商控制的金融工具类别；特意不设为封闭枚举。",
                                    "example": "EQUITY"
                                  },
                                  "regularMarketPrice": {
                                    "type": "number",
                                    "example": 313.33
                                  },
                                  "chartPreviousClose": {
                                    "type": "number",
                                    "example": 308.91
                                  },
                                  "regularMarketTime": {
                                    "type": "integer",
                                    "format": "int64",
                                    "description": "Unix 秒。",
                                    "example": 1786132801
                                  },
                                  "gmtoffset": {
                                    "type": "integer",
                                    "description": "观测到的 UTC 偏移量，单位为秒。",
                                    "example": -14400
                                  },
                                  "exchangeTimezoneName": {
                                    "type": "string",
                                    "example": "America/New_York"
                                  },
                                  "dataGranularity": {
                                    "type": "string",
                                    "example": "1d"
                                  },
                                  "range": {
                                    "type": "string",
                                    "example": "5d"
                                  },
                                  "validRanges": {
                                    "type": "array",
                                    "description": "提供商为该结果返回的可用范围；取值可能变化。",
                                    "items": {"type": "string"},
                                    "example": ["1d", "5d", "1mo", "max"]
                                  }
                                },
                                "additionalProperties": true
                              },
                              "timestamp": {
                                "type": "array",
                                "description": "以 Unix 秒表示的 K 线时间戳。价格和成交量数组使用相同的索引。",
                                "items": {
                                  "type": "integer",
                                  "format": "int64"
                                },
                                "example": [1704067200, 1704153600]
                              },
                              "indicators": {
                                "type": "object",
                                "properties": {
                                  "quote": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "open": {
                                          "type": "array",
                                          "items": {
                                            "type": "number",
                                            "nullable": true
                                          }
                                        },
                                        "high": {
                                          "type": "array",
                                          "items": {
                                            "type": "number",
                                            "nullable": true
                                          }
                                        },
                                        "low": {
                                          "type": "array",
                                          "items": {
                                            "type": "number",
                                            "nullable": true
                                          }
                                        },
                                        "close": {
                                          "type": "array",
                                          "items": {
                                            "type": "number",
                                            "nullable": true
                                          }
                                        },
                                        "volume": {
                                          "type": "array",
                                          "items": {
                                            "type": "integer",
                                            "format": "int64",
                                            "nullable": true
                                          }
                                        }
                                      },
                                      "additionalProperties": true
                                    }
                                  },
                                  "adjclose": {
                                    "type": "array",
                                    "description": "观测到的复权收盘价序列；并非所有金融工具或时间间隔都会返回。",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "adjclose": {"type": "array", "items": {"type": "number", "nullable": true}}
                                      },
                                      "additionalProperties": true
                                    }
                                  }
                                },
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": true
                          }
                        },
                        "error": {
                          "allOf": [{"$ref": "#/components/schemas/YahooError"}],
                          "nullable": true
                        }
                      },
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "422": {
            "description": "标的代码、时间段、时间间隔或范围与间隔组合无效。",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ChartErrorResponse"}
              }
            }
          },
          "404": {
            "description": "当标的代码未知、为空或已退市时观测到此响应。响应体使用 `chart` 错误信封。",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChartErrorResponse"}}}
          },
          "429": {"$ref": "#/components/responses/RateLimited"}
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://finance.yahoo.com/quote/AAPL/",
          "https://query2.finance.yahoo.com/v8/finance/chart/AAPL?range=5d&interval=1d&includePrePost=false",
          "https://help.yahoo.com/kb/SLN29029.html",
          "https://in.help.yahoo.com/kb/finance/download-historical-data-yahoo-finance-sln2311.html"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "在 Yahoo Finance 行情页面的网络流量中观测到，FiApp 也在使用；不保证兼容性。",
        "servers": [
          {
            "url": "https://query1.finance.yahoo.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "User-Agent": "Mozilla/5.0 fi-api/1.0"
        },
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "这是 Yahoo 未公开支持的网页接口；为避免将不稳定的第三方端点包装成受支持 API，Hub 禁用代理执行。",
        "x-pontx-request-examples": {"default":{"request":{"path":{"symbol":"AAPL"},"query":{"range":"5d","interval":"1d","includePrePost":false},"headers":{}},"expectedStatus":"200"}}
      }
    },
    "/v7/finance/quote": {
      "get": {
        "operationId": "getQuotes",
        "tags": ["Discovery"],
        "summary": "获取批量行情",
        "description": "返回多个证券的行情快照。",
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "description": "以逗号分隔的 Yahoo Finance 标的代码，例如 `AAPL,MSFT`。",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AAPL,MSFT"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "观测到的以逗号分隔的字段投影。Yahoo 既未发布完整字段清单，也未提供稳定性保证。",
            "required": false,
            "schema": {
              "type": "string",
              "example": "symbol,regularMarketPrice,currency"
            }
          },
          {
            "name": "formatted",
            "in": "query",
            "description": "返回格式化后的值",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "example": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "观测到的浏览器会话成功响应信封。不表示匿名访问可用。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "quoteResponse": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "symbol": {
                                "type": "string"
                              },
                              "regularMarketPrice": {
                                "type": "number"
                              },
                              "regularMarketChangePercent": {
                                "type": "number"
                              },
                              "regularMarketTime": {
                                "type": "number"
                              },
                              "currency": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": true
                          }
                        },
                        "error": {"$ref": "#/components/schemas/YahooError"}
                      },
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "观测到的匿名访问响应：需要 Yahoo 浏览器会话或其他由提供商控制的授权状态。",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FinanceErrorResponse"}}}
          },
          "429": {"$ref": "#/components/responses/RateLimited"}
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://finance.yahoo.com/quote/AAPL/",
          "https://query1.finance.yahoo.com/v7/finance/quote?symbols=AAPL"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "在 Yahoo Finance 自有行情页面流量中观测到；目前匿名服务端请求会返回 Unauthorized。",
        "servers": [
          {
            "url": "https://query1.finance.yahoo.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "User-Agent": "Mozilla/5.0 fi-api/1.0"
        },
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Yahoo 当前要求浏览器会话，匿名服务端请求返回 Unauthorized。",
        "x-pontx-request-examples": {"default":{"request":{"path":{},"query":{"symbols":"AAPL,MSFT","formatted":false},"headers":{}},"expectedStatus":"200"}}
      }
    },
    "/v7/finance/spark": {
      "get": {
        "operationId": "getSpark",
        "tags": ["Charts"],
        "summary": "获取迷你图数据",
        "description": "返回紧凑的价格时间序列。",
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "description": "以逗号分隔的 Yahoo Finance 标的代码。",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AAPL,MSFT"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "请求的时间范围",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["1d", "5d", "1mo", "3mo", "6mo", "1y", "2y", "5y", "10y", "ytd", "max"],
              "default": "1d",
              "example": "5d"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "K 线时间间隔",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["1m", "2m", "5m", "15m", "30m", "60m", "90m", "1h", "1d", "5d", "1wk", "1mo", "3mo"],
              "default": "5m",
              "example": "1d"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "观测到的紧凑图表响应信封。在已验证的成功样本中，`spark.error` 为 null。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "spark": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "symbol": {
                                "type": "string"
                              },
                              "response": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "meta": {
                                      "type": "object",
                                      "description": "观测到的图表元数据；使用与图表接口相同的开放式提供商结构。",
                                      "properties": {
                                        "currency": {"type": "string", "example": "USD"},
                                        "symbol": {"type": "string", "example": "AAPL"},
                                        "dataGranularity": {"type": "string", "example": "1d"},
                                        "range": {"type": "string", "example": "5d"}
                                      },
                                      "additionalProperties": true
                                    },
                                    "timestamp": {
                                      "type": "array",
                                      "items": {
                                        "type": "integer",
                                        "format": "int64"
                                      },
                                      "example": [1704067200, 1704153600]
                                    },
                                    "indicators": {
                                      "type": "object",
                                      "properties": {
                                        "quote": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "close": {
                                                "type": "array",
                                                "items": {
                                                  "type": "number",
                                                  "nullable": true
                                                }
                                              }
                                            },
                                            "additionalProperties": true
                                          }
                                        }
                                      },
                                      "additionalProperties": true
                                    }
                                  },
                                  "additionalProperties": true
                                }
                              }
                            },
                            "additionalProperties": true
                          }
                        }
                        ,
                        "error": {"$ref": "#/components/schemas/YahooError"}
                      },
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {"description": "缺少 symbols/range/interval 参数，或参数无效。", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FinanceErrorResponse"}}}},
          "429": {"$ref": "#/components/responses/RateLimited"}
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://finance.yahoo.com/quote/AAPL/",
          "https://query1.finance.yahoo.com/v7/finance/spark?symbols=AAPL,MSFT&range=5d&interval=1d"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "在 Yahoo Finance 自有市场组件中观测到。",
        "servers": [
          {
            "url": "https://query1.finance.yahoo.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "User-Agent": "Mozilla/5.0 fi-api/1.0"
        },
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "这是 Yahoo 未公开支持的网页接口；Hub 禁用代理执行。",
        "x-pontx-request-examples": {"default":{"request":{"path":{},"query":{"symbols":"AAPL,MSFT","range":"5d","interval":"1d"},"headers":{}},"expectedStatus":"200"}}
      }
    },
    "/v1/finance/quoteType/": {
      "get": {
        "operationId": "getQuoteType",
        "tags": ["Discovery"],
        "summary": "获取证券类型",
        "description": "返回证券身份和交易所信息。",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Yahoo Finance 标的代码",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AAPL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "quoteType": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "symbol": {
                                "type": "string",
                                "example": "AAPL"
                              },
                              "quoteType": {
                                "type": "string",
                                "description": "由提供商控制的金融工具类别，例如 `EQUITY`、`ETF`、`MUTUALFUND`、`INDEX`、`CURRENCY`、`CRYPTOCURRENCY`、`FUTURE` 或 `OPTION`。此字段特意不设为封闭枚举。"
                              },
                              "longName": {
                                "type": "string",
                                "example": "Apple Inc."
                              },
                              "exchange": {
                                "type": "string",
                                "description": "观测到的 Yahoo 交易所代码；并非封闭的代码表。",
                                "example": "NMS"
                              },
                              "exchangeTimezoneName": {
                                "type": "string",
                                "example": "America/New_York"
                              },
                              "market": {
                                "type": "string",
                                "example": "us_market"
                              }
                            },
                            "additionalProperties": true
                          }
                        },
                        "error": {"$ref": "#/components/schemas/YahooError"}
                      },
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "缺少必需的 `symbol` 查询参数时观测到此响应。",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FinanceErrorResponse"}}}
          },
          "429": {"$ref": "#/components/responses/RateLimited"}
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://finance.yahoo.com/quote/AAPL/",
          "https://query1.finance.yahoo.com/v1/finance/quoteType/?symbol=AAPL"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "在 Yahoo Finance 行情页面中观测到。",
        "servers": [
          {
            "url": "https://query1.finance.yahoo.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "User-Agent": "Mozilla/5.0 fi-api/1.0"
        },
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "这是 Yahoo 未公开支持的网页接口；Hub 禁用代理执行。",
        "x-pontx-request-examples": {"default":{"request":{"path":{},"query":{"symbol":"AAPL"},"headers":{}},"expectedStatus":"200"}}
      }
    },
    "/v1/finance/search": {
      "get": {
        "operationId": "searchSymbols",
        "tags": ["Discovery"],
        "summary": "搜索证券",
        "description": "按文本搜索证券代码和名称。",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "自由文本形式的公司名称、标的代码、基金名称、指数或其他证券查询。",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "Apple"
            }
          },
          {
            "name": "quotesCount",
            "in": "query",
            "description": "证券结果最大数量",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 6,
              "example": 2
            }
          },
          {
            "name": "newsCount",
            "in": "query",
            "description": "新闻结果最大数量",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 4,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "观测到的搜索响应。`quotes` 是非穷尽的字段投影；提供商还可能返回新闻、导航、列表、研究及其他集合。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "观测到的已返回行情匹配数量。",
                      "example": 2
                    },
                    "quotes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string",
                            "example": "AAPL"
                          },
                          "shortname": {
                            "type": "string"
                          },
                          "longname": {
                            "type": "string"
                          },
                          "exchange": {
                            "type": "string",
                            "example": "NMS"
                          },
                          "quoteType": {
                            "type": "string",
                            "description": "由提供商控制的金融工具类别，例如 `EQUITY`、`ETF`、`INDEX`、`CURRENCY` 或 `CRYPTOCURRENCY`。"
                          },
                          "typeDisp": {
                            "type": "string",
                            "description": "观测到的本地化/显示类别。",
                            "example": "Equity"
                          },
                          "exchDisp": {
                            "type": "string",
                            "description": "观测到的交易所显示标签。",
                            "example": "NASDAQ"
                          },
                          "sector": {
                            "type": "string",
                            "example": "Technology"
                          },
                          "industry": {
                            "type": "string",
                            "example": "Consumer Electronics"
                          }
                        },
                        "additionalProperties": true
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {"description": "缺少搜索查询，或查询无效。", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FinanceErrorResponse"}}}},
          "429": {"$ref": "#/components/responses/RateLimited"}
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://finance.yahoo.com/lookup/",
          "https://query1.finance.yahoo.com/v1/finance/search?q=Apple&quotesCount=2&newsCount=0"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "提供商自有的搜索接口系列；已验证为公开只读请求。",
        "servers": [
          {
            "url": "https://query1.finance.yahoo.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "User-Agent": "Mozilla/5.0 fi-api/1.0"
        },
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "这是 Yahoo 未公开支持的网页接口；Hub 禁用代理执行。",
        "x-pontx-request-examples": {"default":{"request":{"path":{},"query":{"q":"Apple","quotesCount":2,"newsCount":0},"headers":{}},"expectedStatus":"200"}}
      }
    },
    "/v10/finance/quoteSummary/{symbol}": {
      "get": {
        "operationId": "getQuoteSummary",
        "tags": ["Fundamentals"],
        "summary": "获取证券模块资料",
        "description": "按模块查询价格、摘要和公司资料。",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "Yahoo Finance 标的代码",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AAPL"
            }
          },
          {
            "name": "modules",
            "in": "query",
            "description": "以逗号分隔的提供商模块名称。常见观测值包括 `price`、`summaryDetail`、`assetProfile`、`defaultKeyStatistics`、`financialData`、`calendarEvents`、`recommendationTrend`、`earningsTrend`、`fundProfile` 和 `topHoldings`。可用性取决于金融工具类型和 Yahoo 会话状态。",
            "required": true,
            "schema": {
              "type": "string",
              "example": "price,summaryDetail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "推断的会话授权成功响应信封。由于 Yahoo 未发布模块 Schema，模块对象特意保持开放。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "quoteSummary": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "price": {
                                "type": "object",
                                "properties": {},
                                "additionalProperties": true
                              },
                              "summaryDetail": {
                                "type": "object",
                                "properties": {},
                                "additionalProperties": true
                              },
                              "assetProfile": {
                                "type": "object",
                                "properties": {},
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": true
                          }
                        },
                        "error": {"$ref": "#/components/schemas/YahooError"}
                      },
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "缺少有效 crumb/Cookie 组合时观测到的匿名访问响应。",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FinanceErrorResponse"}}}
          },
          "429": {"$ref": "#/components/responses/RateLimited"}
        },
        "x-pontx-documentation-status": "inferred",
        "x-pontx-evidence": [
          "https://finance.yahoo.com/quote/AAPL/profile/",
          "https://query1.finance.yahoo.com/v10/finance/quoteSummary/AAPL?modules=price,summaryDetail"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "模块可用性和 crumb 要求可能随时变化。",
        "servers": [
          {
            "url": "https://query1.finance.yahoo.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "User-Agent": "Mozilla/5.0 fi-api/1.0"
        },
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Yahoo 当前要求有效的 crumb 与 Cookie，Hub 不代替浏览器建立会话。",
        "x-pontx-request-examples": {"default":{"request":{"path":{"symbol":"AAPL"},"query":{"modules":"price,summaryDetail"},"headers":{}},"expectedStatus":"200"}}
      }
    },
    "/ws/fundamentals-timeseries/v1/finance/timeseries/{symbol}": {
      "get": {
        "operationId": "getFundamentalTimeseries",
        "tags": ["Fundamentals"],
        "summary": "获取基本面时间序列",
        "description": "返回基本面和事件时间序列。",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "Yahoo Finance 标的代码",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AAPL"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "以逗号分隔的内部序列标识符。例如：`trailingMarketCap`。Yahoo 未发布完整的支持值清单；标识符因金融工具而异，且可能变化。",
            "required": false,
            "schema": {
              "type": "string",
              "example": "trailingMarketCap"
            }
          },
          {
            "name": "period1",
            "in": "query",
            "description": "可选的包含式观测起始边界，以 Unix 秒表示。省略时，Yahoo 会选择由提供商控制的默认时间窗口。",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1704067200
            }
          },
          {
            "name": "period2",
            "in": "query",
            "description": "可选的观测结束边界，以 Unix 秒表示。省略时，Yahoo 会选择由提供商控制的默认时间窗口。",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1735689600
            }
          }
        ],
        "responses": {
          "200": {
            "description": "观测到的时间序列响应信封。每个条目除 `meta` 和 `timestamp` 外，还可能包含一个名称与请求类型相同的属性。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timeseries": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "meta": {
                                "type": "object",
                                "description": "观测到的请求身份标识数组。",
                                "properties": {
                                  "symbol": {"type": "array", "items": {"type": "string"}, "example": ["AAPL"]},
                                  "type": {"type": "array", "items": {"type": "string"}, "example": ["trailingMarketCap"]}
                                },
                                "additionalProperties": true
                              },
                              "timestamp": {
                                "type": "array",
                                "items": {
                                  "type": "integer"
                                },
                                "example": [1717977600, 1720742400]
                              },
                              "trailingMarketCap": {
                                "type": "array",
                                "description": "与请求类型匹配的动态命名序列属性示例。请求其他类型时会生成名称不同的属性。",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "dataId": {"type": "integer", "example": 40001},
                                    "asOfDate": {"type": "string", "format": "date", "example": "2024-07-12"},
                                    "periodType": {"type": "string", "description": "观测到的提供商周期标签；并非封闭枚举。", "example": "TTM"},
                                    "currencyCode": {"type": "string", "example": "USD"},
                                    "reportedValue": {
                                      "type": "object",
                                      "properties": {
                                        "raw": {"type": "number", "example": 3536499331660},
                                        "fmt": {"type": "string", "example": "3.54T"}
                                      },
                                      "additionalProperties": true
                                    }
                                  },
                                  "additionalProperties": true
                                }
                              }
                            },
                            "additionalProperties": true
                          }
                        },
                        "error": {"$ref": "#/components/schemas/YahooError"}
                      },
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {"description": "type 或 period 参数格式错误。在 2026-08-10 的匿名样本中，仅省略参数并未产生错误。", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FinanceErrorResponse"}}}},
          "429": {"$ref": "#/components/responses/RateLimited"}
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://finance.yahoo.com/quote/AAPL/",
          "https://query1.finance.yahoo.com/ws/fundamentals-timeseries/v1/finance/timeseries/AAPL?type=trailingMarketCap&period1=1704067200&period2=1735689600"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "在 Yahoo Finance 行情图表中观测到；受支持类型属于内部实现，可能变化。",
        "servers": [
          {
            "url": "https://query1.finance.yahoo.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "User-Agent": "Mozilla/5.0 fi-api/1.0"
        },
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "这是 Yahoo 未公开支持的网页接口；类型标识和响应字段可能变化，Hub 禁用代理执行。",
        "x-pontx-request-examples": {"default":{"request":{"path":{"symbol":"AAPL"},"query":{},"headers":{}},"expectedStatus":"200"}}
      }
    }
  },
  "components": {
    "schemas": {
      "YahooError": {
        "type": "object",
        "nullable": true,
        "title": "Yahoo 提供方错误",
        "description": "Yahoo 观察到的错误对象；图表类请求成功时通常为 null，错误代码和文本由提供方控制。",
        "properties": {
          "code": {"type": "string", "description": "观测到的符号代码或人类可读代码；特意不设为封闭枚举。", "example": "Unauthorized"},
          "description": {"type": "string", "example": "User is unable to access this feature - https://bit.ly/yahoo-finance-api-feedback"}
        },
        "additionalProperties": true
      },
      "FinanceErrorResponse": {
        "type": "object",
        "title": "Yahoo Finance 错误响应",
        "description": "报价、搜索发现及部分基本面接口观察到的错误包络。",
        "required": ["finance"],
        "properties": {
          "finance": {
            "type": "object",
            "required": ["error"],
            "properties": {
              "result": {"type": "array", "nullable": true, "items": {}, "example": null},
              "error": {"$ref": "#/components/schemas/YahooError"}
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "ChartErrorResponse": {
        "type": "object",
        "title": "Yahoo 图表错误响应",
        "description": "图表接口族观察到的错误包络，包含 chart.result 与 chart.error。",
        "required": ["chart"],
        "properties": {
          "chart": {
            "type": "object",
            "required": ["error"],
            "properties": {
              "result": {"type": "array", "nullable": true, "items": {}, "example": null},
              "error": {"$ref": "#/components/schemas/YahooError"}
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      }
    },
    "responses": {
      "RateLimited": {
        "description": "受到 Yahoo 限流。对于这些不受支持的网页接口，配额、重置行为和重试时机均未公开；请勿假定固定退避时间，也不要尝试绕过限流。",
        "headers": {
          "Retry-After": {
            "description": "提供商可能返回此字段，但不保证存在。",
            "schema": {"type": "string"}
          }
        },
        "content": {
          "application/json": {
            "schema": {"$ref": "#/components/schemas/FinanceErrorResponse"}
          },
          "text/plain": {
            "schema": {"type": "string", "example": "Too Many Requests"}
          }
        }
      }
    }
  }
}
