{
  "openapi": "3.0.3",
  "info": {
    "title": "Stooq 公开行情下载",
    "version": "2026-08-10",
    "description": "在公开行情页面和现有客户端中观察到的 Stooq 自有下载 URL，未提供公开文档。它们并非具有正式版本控制的开发者 API。2026-08-10 的观察结果显示，最新行情 URL 返回 HTTP 404，历史数据下载 URL 返回 JavaScript 浏览器验证页面而非 CSV；使用者必须在解析前检查状态码和 Content-Type。",
    "license": {
      "name": "Proprietary / undocumented"
    }
  },
  "servers": [
    {
      "url": "https://stooq.com"
    }
  ],
  "paths": {
    "/q/l/": {
      "get": {
        "operationId": "downloadLatestQuotes",
        "summary": "下载最新行情",
        "description": "按字段格式下载最新行情 CSV。",
        "parameters": [
          {
            "name": "s",
            "in": "query",
            "description": "一个或多个 Stooq 证券标识，历史用法中以逗号分隔。例如美国市场的苹果公司使用 `aapl.us`。证券标识后缀由提供方定义，此处未穷举。",
            "required": true,
            "schema": {
              "type": "string",
              "example": "aapl.us",
              "description": "一个或多个 Stooq 证券标识，历史用法中以逗号分隔。例如美国市场的苹果公司使用 `aapl.us`。证券标识后缀由提供方定义，此处未穷举。"
            }
          },
          {
            "name": "f",
            "in": "query",
            "description": "旧版 CSV 接口使用的紧凑有序字段选择代码。现有请求中观察到示例 `sd2t2ohlcvp`；由于提供方目前没有正式文档，不将各字母声明为稳定的公开枚举。",
            "required": false,
            "schema": {
              "type": "string",
              "example": "sd2t2ohlcvp",
              "description": "旧版 CSV 接口使用的紧凑有序字段选择代码。现有请求中观察到示例 `sd2t2ohlcvp`；由于提供方目前没有正式文档，不将各字母声明为稳定的公开枚举。"
            }
          },
          {
            "name": "h",
            "in": "query",
            "description": "用于请求 CSV 表头的存在即生效式旧版标志。历史 URL 通常包含独立的 `h`，而不是 `h=true`；通用 OpenAPI 客户端可能以不同方式序列化此布尔值。",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "用于请求 CSV 表头的存在即生效式旧版标志。历史 URL 通常包含独立的 `h`，而不是 `h=true`；通用 OpenAPI 客户端可能以不同方式序列化此布尔值。",
              "example": false
            }
          },
          {
            "name": "e",
            "in": "query",
            "description": "请求的输出格式。该 URL 仅有 CSV 格式的证据。",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "csv"
              ],
              "description": "请求的输出格式。该 URL 仅有 CSV 格式的证据。",
              "example": "csv",
              "x-enum-descriptions": [
                "取值 csv。"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "历史上预期的 CSV 响应；2026-08-10 未能复现。",
            "content": {
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/LatestQuoteCsv"
                },
                "examples": {
                  "illustrativeLegacyShape": {
                    "summary": "仅用于说明旧版列结构；并非本次验证捕获的响应",
                    "value": "Symbol,Date,Time,Open,High,Low,Close,Volume,Previous\nAAPL.US,YYYY-MM-DD,HH:MM:SS,OPEN,HIGH,LOW,CLOSE,VOLUME,PREVIOUS"
                  }
                }
              }
            }
          },
          "404": {
            "description": "观察到的旧版接口不可用响应（2026-08-10）。",
            "content": {
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/StooqNotFoundHtml"
                },
                "example": "<meta charset=utf-8><title>Stooq</title>...The page you requested does not exist or has been moved..."
              }
            }
          }
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://stooq.com/q/l/?s=aapl.us&f=sd2t2ohlcvp&h&e=csv"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "FiApp 历史上曾使用此接口；2026-08-10 的提供方验证返回 Stooq 404 页面。",
        "servers": [
          {
            "url": "https://stooq.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "User-Agent": "fi-api/1.0"
        },
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "该地址当前返回 Stooq 404 页面，已停止代理执行。"
      }
    },
    "/q/d/l/": {
      "get": {
        "operationId": "downloadHistoricalQuotes",
        "summary": "下载历史行情",
        "description": "按日期范围和周期下载历史行情 CSV。",
        "parameters": [
          {
            "name": "s",
            "in": "query",
            "description": "单个由提供方定义的 Stooq 证券标识，例如 `aapl.us`。",
            "required": true,
            "schema": {
              "type": "string",
              "example": "aapl.us",
              "description": "单个由提供方定义的 Stooq 证券标识，例如 `aapl.us`。"
            }
          },
          {
            "name": "d1",
            "in": "query",
            "description": "以 `YYYYMMDD` 编码的闭区间开始日期（历史观察到的约定）。",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{8}$",
              "example": "20260801",
              "description": "以 `YYYYMMDD` 编码的闭区间开始日期（历史观察到的约定）。"
            }
          },
          {
            "name": "d2",
            "in": "query",
            "description": "以 `YYYYMMDD` 编码的闭区间结束日期（历史观察到的约定）。",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{8}$",
              "example": "20260810",
              "description": "以 `YYYYMMDD` 编码的闭区间结束日期（历史观察到的约定）。"
            }
          },
          {
            "name": "i",
            "in": "query",
            "description": "历史 K 线周期：日、周或月。",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "d",
                "w",
                "m"
              ],
              "description": "历史 K 线周期：日、周或月。",
              "example": "d",
              "x-enum-descriptions": [
                "取值 d。",
                "取值 w。",
                "取值 m。"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "可能是历史上预期的 CSV，也可能是当前观察到的 HTTP 200 浏览器验证 HTML；解析前应检查 Content-Type。",
            "content": {
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalQuoteCsv"
                },
                "examples": {
                  "illustrativeLegacyShape": {
                    "summary": "仅用于说明旧版列结构；本次验证返回的是 HTML",
                    "value": "Date,Open,High,Low,Close,Volume\nYYYY-MM-DD,OPEN,HIGH,LOW,CLOSE,VOLUME"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/BrowserVerificationHtml"
                },
                "example": "<!DOCTYPE html><html>...<noscript>This site requires JavaScript to verify your browser. Please enable JavaScript and reload.</noscript>..."
              }
            }
          },
          "default": {
            "description": "请求失败。"
          }
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://stooq.com/q/d/?s=aapl.us",
          "https://stooq.com/q/d/l/?s=aapl.us&d1=20260801&d2=20260810&i=d"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "提供方自有历史数据页面；自动化请求目前收到 Stooq 的 JavaScript 验证页面，而非 CSV。",
        "servers": [
          {
            "url": "https://stooq.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "User-Agent": "fi-api/1.0"
        },
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Stooq 当前要求 JavaScript 浏览器验证，Hub 不绕过该验证。"
      }
    }
  },
  "components": {
    "schemas": {
      "LatestQuoteCsv": {
        "type": "string",
        "title": "Stooq 最新报价 CSV 原始响应",
        "description": "由 f 参数决定列顺序的旧版最新报价 CSV 文本；当前验证未能重新获得此格式，不应假定仍可用。",
        "example": "example"
      },
      "HistoricalQuoteCsv": {
        "type": "string",
        "title": "Stooq 历史行情 CSV 原始响应",
        "description": "表头为 Date,Open,High,Low,Close,Volume 的历史 OHLCV CSV 文本；当前匿名访问实际返回浏览器验证页。",
        "example": "example"
      },
      "StooqNotFoundHtml": {
        "type": "string",
        "title": "Stooq 接口已移除页面",
        "description": "旧版最新报价地址当前以 HTTP 404 返回的 Stooq 品牌 HTML 页面，不是行情数据。",
        "example": "<meta charset=utf-8><title>Stooq</title>...The page you requested does not exist or has been moved..."
      },
      "BrowserVerificationHtml": {
        "type": "string",
        "title": "Stooq 浏览器验证页",
        "description": "HTTP 200 返回的 JavaScript SHA-256 工作量证明页面，属于反自动化响应而非行情数据；客户端不应自动绕过。",
        "example": "<!DOCTYPE html><html>...<noscript>This site requires JavaScript to verify your browser. Please enable JavaScript and reload.</noscript>..."
      }
    }
  },
  "tags": [
    {
      "name": "common",
      "description": "通用接口。"
    }
  ]
}
