{
  "openapi": "3.0.3",
  "info": {
    "title": "东方财富基金网页数据 API",
    "version": "2026-08-10",
    "description": "在服务商自有基金页面上观测到的东方财富／天天基金未公开只读网页接口。传输格式包括 JSON、一个目前返回 HTML 的历史 JSONP 估值接口，以及服务商内部字段标识符。这是带有证据标注的网页接口，并非官方开发者 API。",
    "license": {
      "name": "Proprietary / undocumented"
    }
  },
  "servers": [
    {
      "url": "https://api.fund.eastmoney.com"
    },
    {
      "url": "https://fundgz.1234567.com.cn"
    },
    {
      "url": "https://push2.eastmoney.com"
    }
  ],
  "tags": [{ "name": "common", "description": "基金估值与历史净值接口" }],
  "paths": {
    "/js/{fundCode}.js": {
      "get": {
        "operationId": "getFundEstimate",
        "summary": "获取基金估值",
        "description": "返回基金实时估值 JSONP。",
        "parameters": [
          {
            "name": "fundCode",
            "in": "path",
            "description": "六位中国大陆基金代码。",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{6}$"
            },
            "example": "001072"
          },
          {
            "name": "rt",
            "in": "query",
            "description": "用于绕过缓存的 Unix 毫秒时间戳；不会改变所表示的基金。",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1770000000000
          }
        ],
        "responses": {
          "200": {
            "description": "旧版成功响应为 JavaScript/JSONP；目前为 HTTP 200 的页面未找到 HTML 文档。",
            "content": {
              "application/javascript": {
                "schema": { "$ref": "#/components/schemas/LegacyFundEstimateJsonp" },
                "example": "jsonpgz({\"fundcode\":\"001072\",\"name\":\"...\",\"jzrq\":\"2025-09-02\",\"dwjz\":\"2.6170\",\"gsz\":\"2.6300\",\"gszzl\":\"0.50\",\"gztime\":\"2025-09-03 15:00\"});"
              },
              "text/html": {
                "schema": { "$ref": "#/components/schemas/EastmoneyNotFoundHtml" },
                "example": "<!doctype html><html><head><title>页面未找到 - 东方财富网</title>..."
              }
            }
          }
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://fund.eastmoney.com/001072.html",
          "https://fundgz.1234567.com.cn/js/001072.js"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "FiApp 曾使用该接口；2026-08-10 的服务商验证返回东方财富页面未找到 HTML，而非 JSONP。",
        "servers": [
          {
            "url": "https://fundgz.1234567.com.cn"
          }
        ],
        "x-pontx-proxy-headers": {
          "Referer": "https://fund.eastmoney.com/"
        },
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "该地址当前返回东方财富的页面不存在 HTML，已停止代理执行。",
        "x-pontx-request-examples": {"default":{"request":{"path":{"fundCode":"001072"},"query":{},"headers":{}},"expectedStatus":"200"}}
      }
    },
    "/f10/lsjz": {
      "get": {
        "operationId": "listHistoricalNav",
        "summary": "获取历史净值",
        "description": "分页返回基金历史净值。",
        "parameters": [
          {
            "name": "fundCode",
            "in": "query",
            "description": "六位中国大陆基金代码。",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{6}$"
            },
            "example": "001072"
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "从 1 开始的页码",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "每页记录数",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "example": 20
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "包含边界的起始日期，格式为 `YYYY-MM-DD`；空值表示无起始日期限制。",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "包含边界的结束日期，格式为 `YYYY-MM-DD`；空值表示无结束日期限制。",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HistoricalNavResponse" },
                "examples": {
                  "populated": {
                    "summary": "两条历史净值记录",
                    "value": { "Data": { "LSJZList": [{ "FSRQ": "2026-08-07", "DWJZ": "4.6050", "LJJZ": "4.6580", "SDATE": null, "ACTUALSYI": "", "NAVTYPE": "1", "JZZZL": "3.58", "SGZT": "开放申购", "SHZT": "开放赎回", "FHFCZ": "", "FHFCZ10": "", "FHFCBZ": "", "DTYPE": null, "FHSP": "" }], "FundType": "001", "SYType": null, "isNewType": false, "Feature": null }, "ErrCode": 0, "ErrMsg": null, "TotalCount": 2723, "Expansion": null, "PageSize": 2, "PageIndex": 1 }
                  },
                  "unknownFund": {
                    "summary": "未知基金代码表示为成功的空页面，而非 HTTP 错误",
                    "value": { "Data": { "LSJZList": [], "FundType": "", "SYType": null, "isNewType": false, "Feature": null }, "ErrCode": 0, "ErrMsg": null, "TotalCount": 0, "Expansion": null, "PageSize": 2, "PageIndex": 1 }
                  }
                }
              }
            }
          }
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://fundf10.eastmoney.com/jjjz_001072.html",
          "https://api.fund.eastmoney.com/f10/lsjz?fundCode=001072&pageIndex=1&pageSize=2&startDate=&endDate="
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "只读 JSON 请求已于 2026-08-10 验证。服务商字段名为未公开的缩写；未知字段被有意保留。",
        "servers": [
          {
            "url": "https://api.fund.eastmoney.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "Referer": "https://fundf10.eastmoney.com/"
        },
        "x-pontx-request-examples": {"default":{"request":{"path":{},"query":{"fundCode":"001072","pageIndex":1,"pageSize":20},"headers":{}},"expectedStatus":"200"}}
      }
    },
    "/f10/LSJZChart": {
      "get": {
        "operationId": "getHistoricalNavChart",
        "summary": "获取净值图表",
        "description": "返回历史净值图表序列。",
        "parameters": [
          {
            "name": "fundCode",
            "in": "query",
            "description": "六位中国大陆基金代码。",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{6}$"
            },
            "example": "001072"
          },
          {
            "name": "type",
            "in": "query",
            "description": "服务商图表序列选择器。单位净值仅观测到值 `0`；其他值未公开。",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "enum": [0],
              "example": 0
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "从 1 开始的页码",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "请求的最大数据点数。服务商可能忽略该值，并返回或报告实际页大小为 400。",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 400,
              "minimum": 1,
              "example": 400
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "包含边界的起始日期，格式为 `YYYY-MM-DD`；空值表示使用服务商默认范围。",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "包含边界的结束日期，格式为 `YYYY-MM-DD`；空值表示使用服务商默认范围。",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HistoricalNavChartResponse" },
                "example": { "Data": [[1754870400000, 2.59], [1754956800000, 2.617]], "ErrCode": 0, "ErrMsg": null, "TotalCount": 241, "Expansion": null, "PageSize": 400, "PageIndex": 1 }
              }
            }
          }
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://fundf10.eastmoney.com/jjjz_001072.html",
          "https://api.fund.eastmoney.com/f10/LSJZChart?fundCode=001072&type=0&pageIndex=1&pageSize=400&startDate=&endDate="
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "只读 JSON 请求已于 2026-08-10 验证。实际传输格式为双数字元组，服务商的分页行为可能与请求值不同。",
        "servers": [
          {
            "url": "https://api.fund.eastmoney.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "Referer": "https://fundf10.eastmoney.com/"
        },
        "x-pontx-request-examples": {"default":{"request":{"path":{},"query":{"fundCode":"001072","type":0,"pageIndex":1,"pageSize":400},"headers":{}},"expectedStatus":"200"}}
      }
    },
    "/api/qt/ulist.np/get": {
      "get": {
        "operationId": "getMarketIndexList",
        "summary": "获取关联指数",
        "description": "返回基金页面展示的市场指数快照。",
        "parameters": [
          {
            "name": "secids",
            "in": "query",
            "description": "以逗号分隔、格式为 `market.code` 的东方财富证券 ID；观测到的市场 ID 包括上海的 `1` 和深圳的 `0`。",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1.000001,0.399001"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "以逗号分隔的服务商字段 ID。已整理映射：`f2` 为最新价格，`f3` 为涨跌幅，`f12` 为代码，`f14` 为名称。",
            "required": true,
            "schema": {
              "type": "string",
              "default": "f2,f3,f12,f14"
            },
            "example": "f2,f3,f12,f14"
          },
          {
            "name": "fltt",
            "in": "query",
            "description": "服务商数字格式模式。观测值 `2` 返回按比例转换后的小数。",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2,
              "enum": [2],
              "example": 2
            }
          },
          {
            "name": "invt",
            "in": "query",
            "description": "服务商请求模式；仅记录了观测值 `2`。",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2,
              "enum": [2],
              "example": 2
            }
          },
          {
            "name": "ut",
            "in": "query",
            "description": "公开页面请求令牌",
            "required": false,
            "schema": {
              "type": "string",
              "default": "267f9ad526dbe6b0262ab19316f5a25b"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MarketIndexListResponse" }
              }
            }
          }
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://fundf10.eastmoney.com/jjjz_001072.html",
          "https://push2.eastmoney.com/api/qt/ulist.np/get?secids=1.000001,0.399001&fields=f2,f3,f12,f14&fltt=2&invt=2&ut=267f9ad526dbe6b0262ab19316f5a25b"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "在服务商自有基金页面上观测到该接口。2026-08-10 的服务端只读请求以空响应结束；浏览器行为、字段 ID 和公开页面令牌仍属服务商内部实现，可能发生变化。",
        "servers": [
          {
            "url": "https://push2.eastmoney.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "Referer": "https://fundf10.eastmoney.com/"
        },
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "该接口来自官网页面，但 2026-08-10 服务端只读验证收到空响应；内部字段与页面令牌也可能变化，因此停止代理执行。",
        "x-pontx-request-examples": {"default":{"request":{"path":{},"query":{"secids":"1.000001,0.399001","fields":"f2,f3,f12,f14","fltt":2,"invt":2,"ut":"267f9ad526dbe6b0262ab19316f5a25b"},"headers":{}},"expectedStatus":"200"}}
      }
    }
  },
  "components": {
    "schemas": {
      "LegacyFundEstimateJsonp": {
        "type": "string",
        "title": "东方财富旧基金估值 JSONP 原始响应",
        "description": "旧接口的 jsonpgz(...) JavaScript 回调文本，不是裸 JSON；该路由当前实际返回失效 HTML 页面。",
        "example": "jsonpgz({\"fundcode\":\"001072\",\"name\":\"华安智能装备主题股票A\",\"jzrq\":\"2025-09-02\",\"dwjz\":\"2.6170\",\"gsz\":\"2.6300\",\"gszzl\":\"0.50\",\"gztime\":\"2025-09-03 15:00\"});"
      },
      "EastmoneyNotFoundHtml": {
        "type": "string",
        "title": "东方财富接口失效页面",
        "description": "东方财富以 HTTP 200 返回的 UTF-8 页面不存在 HTML 文档，客户端不得将其按 JSONP 解析。"
      },
      "HistoricalNavRow": {
        "type": "object",
        "title": "基金历史净值记录",
        "description": "一条已发布的基金单位净值、累计净值、日增长率、申购赎回状态和分红信息；保留提供方缩写及数字字符串编码。",
        "properties": {
          "FSRQ": { "type": "string", "format": "date", "description": "净值发布日期。", "example": "2026-08-07" },
          "DWJZ": { "type": "string", "description": "单位净值小数字符串。", "example": "4.6050" },
          "LJJZ": { "type": "string", "description": "累计净值小数字符串。", "example": "4.6580" },
          "SDATE": { "type": "string", "nullable": true, "description": "未公开的次要日期；观测值为 null。" },
          "ACTUALSYI": { "type": "string", "description": "适用产品的实际收益文本；在该股票型基金上观测为空。", "example": "" },
          "NAVTYPE": { "type": "string", "description": "服务商净值类型代码；样本基金观测值为 `1`。", "example": "1" },
          "JZZZL": { "type": "string", "description": "不含 `%` 的每日净值增长百分比。", "example": "3.58" },
          "SGZT": { "type": "string", "description": "中文申购状态文本；服务商取值不视为封闭枚举。", "example": "开放申购" },
          "SHZT": { "type": "string", "description": "中文赎回状态文本；服务商取值不视为封闭枚举。", "example": "开放赎回" },
          "FHFCZ": { "type": "string", "description": "未公开的分红字段；通常为空。" },
          "FHFCZ10": { "type": "string", "description": "未公开的分红字段；通常为空。" },
          "FHFCBZ": { "type": "string", "description": "未公开的分红备注；通常为空。" },
          "DTYPE": { "type": "string", "nullable": true, "description": "未公开的服务商类型；观测值为 null。" },
          "FHSP": { "type": "string", "description": "未公开的分红字段；通常为空。" }
        },
        "additionalProperties": true
      },
      "HistoricalNavData": {
        "type": "object",
        "title": "基金历史净值分页数据",
        "description": "基金历史净值记录列表及总页数、当前页、每页数量等分页信息。",
        "properties": {
          "LSJZList": { "type": "array", "items": { "$ref": "#/components/schemas/HistoricalNavRow" } },
          "FundType": { "type": "string", "nullable": true, "description": "服务商基金类型代码；未知基金为空。", "example": "001" },
          "SYType": { "type": "string", "nullable": true, "description": "未公开的收益类型；观测值为 null。" },
          "isNewType": { "type": "boolean", "example": false },
          "Feature": { "type": "string", "nullable": true, "description": "未公开的特征标记；观测值为 null。" }
        },
        "additionalProperties": true
      },
      "HistoricalNavResponse": {
        "type": "object",
        "title": "基金历史净值响应",
        "description": "东方财富基金历史净值接口的状态、消息和分页数据响应。",
        "required": ["Data", "ErrCode", "TotalCount", "PageSize", "PageIndex"],
        "properties": {
          "Data": { "$ref": "#/components/schemas/HistoricalNavData" },
          "ErrCode": { "type": "integer", "description": "服务商业务状态；即使基金代码未知，观测值仍为 0。", "example": 0 },
          "ErrMsg": { "type": "string", "nullable": true, "example": null },
          "TotalCount": { "type": "integer", "minimum": 0, "example": 2723 },
          "Expansion": { "type": "object", "nullable": true, "description": "未公开的扩展负载；观测值为 null。" },
          "PageSize": { "type": "integer", "minimum": 1, "example": 2 },
          "PageIndex": { "type": "integer", "minimum": 1, "example": 1 }
        },
        "additionalProperties": true
      },
      "NavChartPoint": {
        "type": "array",
        "title": "基金净值图表点",
        "description": "由 Unix 毫秒时间戳和单位净值组成的二项位置元组。",
        "minItems": 2,
        "maxItems": 2,
        "items": { "type": "number" },
        "example": [1754870400000, 2.59]
      },
      "HistoricalNavChartResponse": {
        "type": "object",
        "title": "基金历史净值图表响应",
        "description": "基金代码、名称和历史单位净值图表点序列。",
        "required": ["Data", "ErrCode", "TotalCount", "PageSize", "PageIndex"],
        "properties": {
          "Data": { "type": "array", "items": { "$ref": "#/components/schemas/NavChartPoint" } },
          "ErrCode": { "type": "integer", "description": "服务商业务状态；观测到的成功值为 0。", "example": 0 },
          "ErrMsg": { "type": "string", "nullable": true, "example": null },
          "TotalCount": { "type": "integer", "minimum": 0, "example": 241 },
          "Expansion": { "type": "object", "nullable": true, "description": "未公开的扩展负载；观测值为 null。" },
          "PageSize": { "type": "integer", "description": "服务商实际页大小；即使请求值为 3，观测值仍为 400。", "example": 400 },
          "PageIndex": { "type": "integer", "minimum": 1, "example": 1 }
        },
        "additionalProperties": true
      },
      "MarketIndexSnapshot": {
        "type": "object",
        "title": "市场指数快照",
        "description": "东方财富 push2 行情中的指数代码、名称、最新点位、涨跌额和涨跌幅快照。",
        "properties": {
          "f2": { "type": "number", "description": "`fltt=2` 时的最新价格。" },
          "f3": { "type": "number", "description": "`fltt=2` 时的涨跌幅百分比。" },
          "f12": { "type": "string", "description": "证券代码。" },
          "f14": { "type": "string", "description": "显示名称。" }
        },
        "additionalProperties": true
      },
      "MarketIndexListResponse": {
        "type": "object",
        "title": "市场指数列表响应",
        "description": "历史观察到的东方财富 push2 指数列表包络；当前服务端访问未复现，字段保持宽松。",
        "properties": {
          "rc": { "type": "integer", "description": "服务商返回码；历史上成功时为 0。" },
          "rt": { "type": "integer", "description": "服务商响应类型／版本标记。" },
          "svr": { "type": "integer", "description": "服务商服务器标识符。" },
          "lt": { "type": "integer", "description": "未公开的服务商标志。" },
          "full": { "type": "integer", "description": "未公开的完整性标志。" },
          "data": {
            "type": "object",
            "nullable": true,
            "properties": {
              "total": { "type": "integer", "minimum": 0 },
              "diff": { "type": "array", "items": { "$ref": "#/components/schemas/MarketIndexSnapshot" } }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      }
    }
  }
}
