{
  "openapi": "3.0.3",
  "info": {
    "title": "Eastmoney Fund Web Data API",
    "version": "2026-08-10",
    "description": "Undocumented Eastmoney/Tiantian Fund read-only JSONP endpoints observed on provider-owned fund pages and used by FiApp.",
    "license": {
      "name": "Proprietary / undocumented"
    }
  },
  "servers": [
    {
      "url": "https://api.fund.eastmoney.com"
    },
    {
      "url": "https://fundgz.1234567.com.cn"
    },
    {
      "url": "https://push2.eastmoney.com"
    }
  ],
  "paths": {
    "/js/{fundCode}.js": {
      "get": {
        "operationId": "getFundEstimate",
        "summary": "Get latest fund estimate",
        "description": "Get latest fund estimate. Used by FiApp; returns a jsonpgz JSONP wrapper.",
        "parameters": [
          {
            "name": "fundCode",
            "in": "path",
            "description": "Six-digit fund code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rt",
            "in": "query",
            "description": "Cache-busting timestamp",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/javascript": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://fund.eastmoney.com/001072.html",
          "https://fundgz.1234567.com.cn/js/001072.js"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "Used by FiApp; returns a jsonpgz JSONP wrapper.",
        "servers": [
          {
            "url": "https://fundgz.1234567.com.cn"
          }
        ],
        "x-pontx-proxy-headers": {
          "Referer": "https://fund.eastmoney.com/"
        }
      }
    },
    "/f10/lsjz": {
      "get": {
        "operationId": "listHistoricalNav",
        "summary": "List historical fund NAV",
        "description": "List historical fund NAV. Observed directly in the provider-owned historical-NAV page and used by FiApp.",
        "parameters": [
          {
            "name": "fundCode",
            "in": "query",
            "description": "Six-digit fund code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "One-based page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Rows per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {
                        "LSJZList": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "FSRQ": {
                                "type": "string"
                              },
                              "DWJZ": {
                                "type": "string"
                              },
                              "LJJZ": {
                                "type": "string"
                              },
                              "JZZZL": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": true
                          }
                        },
                        "TotalCount": {
                          "type": "integer"
                        },
                        "PageIndex": {
                          "type": "integer"
                        }
                      },
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://fundf10.eastmoney.com/jjjz_001072.html"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "Observed directly in the provider-owned historical-NAV page and used by FiApp.",
        "servers": [
          {
            "url": "https://api.fund.eastmoney.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "Referer": "https://fundf10.eastmoney.com/"
        }
      }
    },
    "/f10/LSJZChart": {
      "get": {
        "operationId": "getHistoricalNavChart",
        "summary": "Get historical NAV chart series",
        "description": "Get historical NAV chart series. Captured from the provider-owned historical-NAV page on 2026-08-10.",
        "parameters": [
          {
            "name": "fundCode",
            "in": "query",
            "description": "Six-digit fund code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Chart type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "One-based page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Maximum points",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/javascript": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://fundf10.eastmoney.com/jjjz_001072.html"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "Captured from the provider-owned historical-NAV page on 2026-08-10.",
        "servers": [
          {
            "url": "https://api.fund.eastmoney.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "Referer": "https://fundf10.eastmoney.com/"
        }
      }
    },
    "/api/qt/ulist.np/get": {
      "get": {
        "operationId": "getMarketIndexList",
        "summary": "Get related market-index snapshots",
        "description": "Get related market-index snapshots. Observed on the provider-owned fund page; field identifiers are internal.",
        "parameters": [
          {
            "name": "secids",
            "in": "query",
            "description": "Comma-separated Eastmoney security IDs",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated response fields",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fltt",
            "in": "query",
            "description": "Number formatting mode",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rc": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "diff": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "f2": {
                                "type": "number"
                              },
                              "f3": {
                                "type": "number"
                              },
                              "f12": {
                                "type": "string"
                              },
                              "f14": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": true
                          }
                        }
                      },
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://fundf10.eastmoney.com/jjjz_001072.html"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "Observed on the provider-owned fund page; field identifiers are internal.",
        "servers": [
          {
            "url": "https://push2.eastmoney.com"
          }
        ],
        "x-pontx-proxy-headers": {
          "Referer": "https://fundf10.eastmoney.com/"
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
