{
  "openapi": "3.0.3",
  "info": {
    "title": "Dropbox Sign API",
    "description": "Dropbox Sign v3 API",
    "termsOfService": "https://sign.dropbox.com/terms",
    "contact": {
      "email": "apisupport@hellosign.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.hellosign.com/v3"
    }
  ],
  "security": [
    {
      "api_key": []
    },
    {
      "oauth2": [
        "account_access",
        "signature_request_access",
        "template_access",
        "team_access",
        "api_app_access",
        "basic_account_info",
        "request_signature"
      ]
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "包含有关账户及其设置的信息"
    },
    {
      "name": "Signature Request",
      "description": "包含有关需要签署的文件的信息"
    },
    {
      "name": "Template",
      "description": "包含有关您和您的团队创建的模板的信息"
    },
    {
      "name": "Bulk Send Job",
      "description": "包含有关批量发送的签名请求的信息"
    },
    {
      "name": "Report",
      "description": "提供对团队用户活动和文档状态的深入了解"
    },
    {
      "name": "Team",
      "description": "包含有关您的团队及其成员的信息"
    },
    {
      "name": "Unclaimed Draft",
      "description": "用户可以通过声明 URL 获得所有权的一组文档"
    },
    {
      "name": "Embedded",
      "description": "包含设置嵌入式签名所需信息的对象"
    },
    {
      "name": "Api App",
      "description": "包含有关 API 应用程序的信息"
    },
    {
      "name": "OAuth",
      "description": "OAuth 允许您在其他用户授予您执行操作的授权后代表他们执行操作。例如，您可以代表您的用户发送签名请求。\n\n我们建议使用我们的 [OAuth 演练](https://app.hellosign.com/api/oauthWalkthrough) 来获取更详细的说明。\n\nOAuth 应用程序可以设置为向您、**应用程序所有者**或**您代表的用户**收费。此选择取决于您为应用程序选择的范围。\n\n### 应用程序所有者需要付费的 OAuth 范围\n|名称 |价值|描述 |\n|--|--|--|\n|基本账户信息（有限）| `basic_account_info` |访问基本账户信息，例如电子邮件地址和姓名。 |\n|发送签名请求（有限）| `request_signature` |发送签名请求、访问状态和文档文件。 |\n\n### 用户付费的 OAuth 范围\n|名称 |价值|描述 |\n|--|--|--|\n|账户访问 | `account_access` |访问基本账户信息，例如电子邮件地址和姓名。 |\n|签名请求访问 | `signature_request_access` |有权发送、查看和更新​​签名请求以及下载文档文件。必须使用 oAuth 令牌发出签名请求才能访问。  |\n|模板访问 | `template_access` |有权查看、创建和修改模板。 |\n|团队访问| `team_access` |有权查看和修改团队设置和团队成员。 |\n| API 应用程序访问 | `api_app_access` |有权查看、创建和修改嵌入式 API 应用程序。 |"
    },
    {
      "name": "Callbacks and Events",
      "description": "事件将被发布到您的回调 URL。可以定义两种回调。\n      \n**回调响应格式**\n\n发送到回调的消息的默认格式是多部分（“form/multipart”）POST 请求，消息详细信息位于名为“json”的 POST 字段中。\n\nJava SDK 包含一个事件解析类，您可以在 PHP 上的 $_POST 数组中访问该字段。对于其他平台，库函数（例如 cgi.parse_multipart（对于 python）或 ActionDispatch::Http::UploadedFile for Rails）或第三方选项（例如用于 Node 的 multer）可能有用。"
    },
    {
      "name": "Fax Line",
      "description": "包含有关您和您的团队创建的传真线路的信息"
    },
    {
      "name": "Fax",
      "description": "传真 API 接口。"
    }
  ],
  "externalDocs": {
    "description": "旧版 API 参考",
    "url": "https://app.hellosign.com/api/reference"
  },
  "paths": {
    "/account/create": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "创建账户",
        "description": "创建与指定 `email_address` 关联的新 Dropbox Sign 账户。",
        "operationId": "accountCreate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCreateRequest"
              },
              "examples": {
                "example": {
                  "$ref": "#/components/examples/AccountCreateRequest"
                },
                "oauth_example": {
                  "$ref": "#/components/examples/AccountCreateRequestOAuth"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCreateResponse"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/AccountCreateResponse"
                  },
                  "oauth_example": {
                    "$ref": "#/components/examples/AccountCreateOAuthResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "oauth2": [
              "account_access"
            ]
          }
        ],
        "x-meta": {
          "seo": {
            "title": "创建账户 | API 文档 | Dropbox Sign 面向开发者",
            "description": "Dropbox Sign API 允许您使用一系列工具进行构建。在此处了解如何使用指定的 `email_address` 创建新的 Dropbox Sign 账户。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {},
              "headers": {}
            },
            "expectedStatus": "200",
            "unresolved": [
              {
                "in": "body",
                "name": "body",
                "source": {
                  "kind": "runtime",
                  "reason": "request-body-requires-user-review"
                }
              }
            ]
          }
        }
      }
    },
    "/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "获取账户",
        "description": "返回您账户的属性和设置。",
        "operationId": "accountGet",
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "description": "需要 `account_id` 或 `email_address`。如果两者都提供，则以账户 ID 为准。\n\n账户的 ID。",
            "required": false,
            "schema": {
              "type": "string",
              "title": "内联结构：Account Id",
              "example": "example-account-id"
            }
          },
          {
            "name": "email_address",
            "in": "query",
            "description": "`account_id` 或 `email_address` 为必填项，如果两者都提供，则以账户 ID 为准。\n\n账户的电子邮件地址。",
            "required": false,
            "schema": {
              "type": "string",
              "title": "内联结构：Email Address",
              "example": "developer@example.com"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountGetResponse"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/AccountGetResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "oauth2": [
              "account_access",
              "basic_account_info"
            ]
          }
        ],
        "x-meta": {
          "seo": {
            "title": "获取账户 | API 文档 | Dropbox Sign 面向开发者",
            "description": "Dropbox Sign API 允许您使用各种工具进行构建。要了解如何返回您账户的属性和设置，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {},
              "headers": {}
            },
            "expectedStatus": "200"
          }
        }
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "更新账户",
        "description": "更新您账户的属性和设置。目前仅允许更新 [回调 URL](/api/reference/tag/Callbacks-and-Events) 和区域设置。",
        "operationId": "accountUpdate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateRequest"
              },
              "examples": {
                "example": {
                  "$ref": "#/components/examples/AccountUpdateRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountGetResponse"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/AccountUpdateResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "409_example": {
                    "$ref": "#/components/examples/Error409Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "oauth2": [
              "account_access"
            ]
          }
        ],
        "x-meta": {
          "seo": {
            "title": "更新账户 | API 文档 | Dropbox Sign 面向开发者",
            "description": "Dropbox Sign API 允许您使用各种工具进行构建。要了解如何更新您账户的属性和设置，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {},
              "headers": {}
            },
            "expectedStatus": "200",
            "unresolved": [
              {
                "in": "body",
                "name": "body",
                "source": {
                  "kind": "runtime",
                  "reason": "request-body-requires-user-review"
                }
              }
            ]
          }
        }
      }
    },
    "/account/verify": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "验证账户",
        "description": "验证给定电子邮件地址是否存在 Dropbox Sign 账户。",
        "operationId": "accountVerify",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountVerifyRequest"
              },
              "examples": {
                "example": {
                  "$ref": "#/components/examples/AccountVerifyRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountVerifyResponse"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/AccountVerifyFoundResponse"
                  },
                  "not_found_example": {
                    "$ref": "#/components/examples/AccountVerifyNotFoundResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "oauth2": [
              "account_access"
            ]
          }
        ],
        "x-meta": {
          "seo": {
            "title": "验证账户 | API 文档 | Dropbox Sign 面向开发者",
            "description": "Dropbox Sign API 允许您使用各种工具进行构建。要了解如何验证账户是否存在，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {},
              "headers": {}
            },
            "expectedStatus": "200",
            "unresolved": [
              {
                "in": "body",
                "name": "body",
                "source": {
                  "kind": "runtime",
                  "reason": "request-body-requires-user-review"
                }
              }
            ]
          }
        }
      }
    },
    "/api_app": {
      "post": {
        "tags": [
          "Api App"
        ],
        "summary": "创建API应用程序",
        "description": "创建一个新的 API 应用程序。",
        "operationId": "apiAppCreate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAppCreateRequest"
              },
              "examples": {
                "example": {
                  "$ref": "#/components/examples/ApiAppCreateRequest"
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ApiAppCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAppGetResponse"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/ApiAppCreateResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "404_example": {
                    "$ref": "#/components/examples/Error404Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "oauth2": [
              "api_app_access"
            ]
          }
        ],
        "x-meta": {
          "seo": {
            "title": "创建 API 应用程序 | API 文档 | Dropbox Sign 面向开发者",
            "description": "Dropbox Sign API 允许您使用各种工具构建自定义集成。要了解如何创建新的 API 应用程序，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {},
              "headers": {}
            },
            "expectedStatus": "201",
            "unresolved": [
              {
                "in": "body",
                "name": "body",
                "source": {
                  "kind": "runtime",
                  "reason": "request-body-requires-user-review"
                }
              }
            ]
          }
        }
      }
    },
    "/api_app/{client_id}": {
      "get": {
        "tags": [
          "Api App"
        ],
        "summary": "获取API应用程序",
        "description": "返回一个包含有关 API 应用程序信息的对象。",
        "operationId": "apiAppGet",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "要检索的 API 应用程序的客户端 ID。",
            "required": true,
            "schema": {
              "type": "string",
              "title": "内联结构：Client Id",
              "example": "example-client-id"
            },
            "example": "0dd3b823a682527788c4e40cb7b6f7e9"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAppGetResponse"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/ApiAppGetResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "404_example": {
                    "$ref": "#/components/examples/Error404Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "oauth2": [
              "api_app_access"
            ]
          }
        ],
        "x-meta": {
          "seo": {
            "title": "获取 API 应用程序 | API 文档 | Dropbox Sign 面向开发者",
            "description": "Dropbox Sign API 允许您使用各种工具进行构建。要了解如何返回包含 API 应用程序信息的对象，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {},
              "headers": {}
            },
            "expectedStatus": "200",
            "unresolved": [
              {
                "in": "path",
                "name": "client_id",
                "source": {
                  "kind": "runtime",
                  "reason": "provider-state"
                }
              }
            ]
          }
        }
      },
      "put": {
        "tags": [
          "Api App"
        ],
        "summary": "更新API应用程序",
        "description": "更新现有的 API 应用程序。只能为您拥有的应用程序调用。只有您提供的字段才会更新。如果您希望清除现有的可选字段，请提供一个空字符串。",
        "operationId": "apiAppUpdate",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "要更新的 API 应用程序的客户端 ID。",
            "required": true,
            "schema": {
              "type": "string",
              "title": "内联结构：Client Id",
              "example": "example-client-id"
            },
            "example": "0dd3b823a682527788c4e40cb7b6f7e9"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiAppUpdateRequest"
              },
              "examples": {
                "example": {
                  "$ref": "#/components/examples/ApiAppUpdateRequest"
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ApiAppUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAppGetResponse"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/ApiAppUpdateResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "409_example": {
                    "$ref": "#/components/examples/Error409Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "oauth2": [
              "api_app_access"
            ]
          }
        ],
        "x-meta": {
          "seo": {
            "title": "更新API应用程序 | API 文档 | Dropbox Sign 面向开发者",
            "description": "Dropbox Sign API 允许您使用各种工具构建自定义集成。要了解如何更新您拥有的应用程序，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {},
              "headers": {}
            },
            "expectedStatus": "200",
            "unresolved": [
              {
                "in": "path",
                "name": "client_id",
                "source": {
                  "kind": "runtime",
                  "reason": "provider-state"
                }
              },
              {
                "in": "body",
                "name": "body",
                "source": {
                  "kind": "runtime",
                  "reason": "request-body-requires-user-review"
                }
              }
            ]
          }
        }
      },
      "delete": {
        "tags": [
          "Api App"
        ],
        "summary": "删除API应用程序",
        "description": "删除 API 应用程序。只能为您拥有的应用程序调用。",
        "operationId": "apiAppDelete",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "要删除的 API 应用程序的客户端 ID。",
            "required": true,
            "schema": {
              "type": "string",
              "title": "内联结构：Client Id",
              "example": "example-client-id"
            },
            "example": "0dd3b823a682527788c4e40cb7b6f7e9"
          }
        ],
        "responses": {
          "204": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "404_example": {
                    "$ref": "#/components/examples/Error404Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "oauth2": [
              "api_app_access"
            ]
          }
        ],
        "x-meta": {
          "seo": {
            "title": "删除API应用程序 | API 文档 | Dropbox Sign 面向开发者",
            "description": "Dropbox Sign API 允许您使用各种工具构建自定义集成。要了解如何删除 API 应用程序，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {},
              "headers": {}
            },
            "expectedStatus": "204",
            "unresolved": [
              {
                "in": "path",
                "name": "client_id",
                "source": {
                  "kind": "runtime",
                  "reason": "provider-state"
                }
              }
            ]
          }
        }
      }
    },
    "/api_app/list": {
      "get": {
        "tags": [
          "Api App"
        ],
        "summary": "列出 API 应用程序",
        "description": "返回您可以访问的 API 应用程序列表。如果您所在的团队具有管理员或开发人员角色，则此列表将包括队友拥有的应用程序。",
        "operationId": "apiAppList",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "返回API应用列表的页码。默认为 `1`。",
            "schema": {
              "type": "integer",
              "default": 1,
              "title": "内联结构：Page",
              "example": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每页要返回的对象数。必须在 `1` 和 `100` 之间。默认为 `20`。",
            "schema": {
              "type": "integer",
              "default": 20,
              "title": "内联结构：Page Size",
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiAppListResponse"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/ApiAppListResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "oauth2": [
              "api_app_access"
            ]
          }
        ],
        "x-meta": {
          "seo": {
            "title": "列出 API 应用程序 | API 文档 | Dropbox Sign 面向开发者",
            "description": "Dropbox Sign API 允许您使用各种工具进行构建。要了解如何返回您可以访问的 API 应用程序列表，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {
                "page": 1,
                "page_size": 20
              },
              "headers": {}
            },
            "expectedStatus": "200"
          }
        }
      }
    },
    "/bulk_send_job/{bulk_send_job_id}": {
      "get": {
        "tags": [
          "Bulk Send Job"
        ],
        "summary": "获取批量发送作业",
        "description": "返回 `bulk_send_job_id` 参数指定的 BulkSendJob 及其 SignatureRequest 的状态。",
        "operationId": "bulkSendJobGet",
        "parameters": [
          {
            "name": "bulk_send_job_id",
            "in": "path",
            "description": "要检索的 BulkSendJob 的 ID。",
            "required": true,
            "schema": {
              "type": "string",
              "title": "内联结构：Bulk Send Job Id",
              "example": "example-bulk-send-job-id"
            },
            "example": "6e683bc0369ba3d5b6f43c2c22a8031dbf6bd174"
          },
          {
            "name": "page",
            "in": "query",
            "description": "返回 BulkSendJob 列表的页码。默认为 `1`。",
            "schema": {
              "type": "integer",
              "default": 1,
              "title": "内联结构：Page",
              "example": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每页要返回的对象数。必须在 `1` 和 `100` 之间。默认值为 20。",
            "schema": {
              "type": "integer",
              "default": 20,
              "title": "内联结构：Page Size",
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkSendJobGetResponse"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/BulkSendJobGetResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "oauth2": [
              "request_signature",
              "signature_request_access"
            ]
          }
        ],
        "x-meta": {
          "seo": {
            "title": "获取批量发送作业 | API 文档 | Dropbox Sign 面向开发者",
            "description": "Dropbox Sign API 允许您构建自定义集成。要了解如何返回 BulkSendJob 和 SignatureRequests 的状态，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {
                "page": 1,
                "page_size": 20
              },
              "headers": {}
            },
            "expectedStatus": "200",
            "unresolved": [
              {
                "in": "path",
                "name": "bulk_send_job_id",
                "source": {
                  "kind": "runtime",
                  "reason": "provider-state"
                }
              }
            ]
          }
        }
      }
    },
    "/bulk_send_job/list": {
      "get": {
        "tags": [
          "Bulk Send Job"
        ],
        "summary": "列出批量发送作业",
        "description": "返回您可以访问的 BulkSendJob 列表。",
        "operationId": "bulkSendJobList",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "返回 BulkSendJob 列表的页码。默认为 `1`。",
            "schema": {
              "type": "integer",
              "default": 1,
              "title": "内联结构：Page",
              "example": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每页要返回的对象数。必须在 `1` 和 `100` 之间。默认值为 20。",
            "schema": {
              "type": "integer",
              "default": 20,
              "title": "内联结构：Page Size",
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkSendJobListResponse"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/BulkSendJobListResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "oauth2": [
              "request_signature",
              "signature_request_access"
            ]
          }
        ],
        "x-meta": {
          "seo": {
            "title": "列出批量发送作业 |文档 | Dropbox Sign 面向开发者",
            "description": "Dropbox Sign API 允许您构建自定义集成。要了解如何返回您可以访问的 BulkSendJob 列表，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {
                "page": 1,
                "page_size": 20
              },
              "headers": {}
            },
            "expectedStatus": "200"
          }
        }
      }
    },
    "/embedded/edit_url/{template_id}": {
      "post": {
        "tags": [
          "Embedded"
        ],
        "summary": "获取嵌入模板编辑 URL",
        "description": "检索包含可在 iFrame 中打开的模板 url 的嵌入对象。请注意，只有通过嵌入模板流程创建的模板才可以使用此 Endpoint 进行编辑。",
        "operationId": "embeddedEditUrl",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "description": "要编辑的模板的 ID。",
            "required": true,
            "schema": {
              "type": "string",
              "title": "内联结构：Template Id",
              "example": "example-template-id"
            },
            "example": "f57db65d3f933b5316d398057a36176831451a35"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddedEditUrlRequest"
              },
              "examples": {
                "example": {
                  "$ref": "#/components/examples/EmbeddedEditUrlRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddedEditUrlResponse"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/EmbeddedEditUrlResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "404_example": {
                    "$ref": "#/components/examples/Error404Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "oauth2": [
              "template_access"
            ]
          }
        ],
        "x-meta": {
          "seo": {
            "title": "获取嵌入模板 URL | i框架| Dropbox Sign 面向开发者",
            "description": "Dropbox Sign API 允许您构建自定义集成。要了解如何检索包含模板 URL 的嵌入 iFrame 对象，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {},
              "headers": {}
            },
            "expectedStatus": "200",
            "unresolved": [
              {
                "in": "path",
                "name": "template_id",
                "source": {
                  "kind": "runtime",
                  "reason": "provider-state"
                }
              },
              {
                "in": "body",
                "name": "body",
                "source": {
                  "kind": "runtime",
                  "reason": "request-body-requires-user-review"
                }
              }
            ]
          }
        }
      }
    },
    "/embedded/sign_url/{signature_id}": {
      "get": {
        "tags": [
          "Embedded"
        ],
        "summary": "获取嵌入标志 URL",
        "description": "检索包含可在 iFrame 中打开的签名 url 的嵌入对象。请注意，通过嵌入式模板流程创建的模板只能通过 API 访问。",
        "operationId": "embeddedSignUrl",
        "parameters": [
          {
            "name": "signature_id",
            "in": "path",
            "description": "要获取其签名 url 的签名 id。",
            "required": true,
            "schema": {
              "type": "string",
              "title": "内联结构：Signature Id",
              "example": "example-signature-id"
            },
            "example": "50e3542f738adfa7ddd4cbd4c00d2a8ab6e4194b"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddedSignUrlResponse"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/EmbeddedSignUrlResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "404_example": {
                    "$ref": "#/components/examples/Error404Response"
                  },
                  "409_example": {
                    "$ref": "#/components/examples/Error409Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "oauth2": [
              "signature_request_access"
            ]
          }
        ],
        "x-meta": {
          "seo": {
            "title": "获取嵌入标志 URL | i框架| Dropbox Sign 面向开发者",
            "description": "Dropbox Sign API 允许您构建自定义集成。要了解如何检索包含签名 url 的嵌入 iFrame 对象，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {},
              "headers": {}
            },
            "expectedStatus": "200",
            "unresolved": [
              {
                "in": "path",
                "name": "signature_id",
                "source": {
                  "kind": "runtime",
                  "reason": "provider-state"
                }
              }
            ]
          }
        }
      }
    },
    "/fax/{fax_id}": {
      "get": {
        "tags": [
          "Fax"
        ],
        "summary": "获取传真",
        "description": "返回有关传真的信息",
        "operationId": "faxGet",
        "parameters": [
          {
            "name": "fax_id",
            "in": "path",
            "description": "传真号码",
            "required": true,
            "schema": {
              "type": "string",
              "title": "内联结构：Fax Id",
              "example": "example-fax-id"
            },
            "example": "fa5c8a0b0f492d768749333ad6fcc214c111e967"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FaxGetResponse"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/FaxGetResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "404_example": {
                    "$ref": "#/components/examples/Error404Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-meta": {
          "seo": {
            "title": "获取传真 | API 文档 |面向开发人员的 Dropbox 传真",
            "description": "Dropbox Fax API 允许您构建自定义集成。要了解如何检索传真的属性，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {},
              "headers": {}
            },
            "expectedStatus": "200",
            "unresolved": [
              {
                "in": "path",
                "name": "fax_id",
                "source": {
                  "kind": "runtime",
                  "reason": "provider-state"
                }
              }
            ]
          }
        }
      },
      "delete": {
        "tags": [
          "Fax"
        ],
        "summary": "删除传真",
        "description": "从系统中删除指定的传真",
        "operationId": "faxDelete",
        "parameters": [
          {
            "name": "fax_id",
            "in": "path",
            "description": "传真号码",
            "required": true,
            "schema": {
              "type": "string",
              "title": "内联结构：Fax Id",
              "example": "example-fax-id"
            },
            "example": "fa5c8a0b0f492d768749333ad6fcc214c111e967"
          }
        ],
        "responses": {
          "204": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "404_example": {
                    "$ref": "#/components/examples/Error404Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-meta": {
          "seo": {
            "title": "删除传真 | API 文档 |面向开发人员的 Dropbox 传真",
            "description": "Dropbox Fax API 允许您构建自定义集成。要了解如何删除传真，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {},
              "headers": {}
            },
            "expectedStatus": "204",
            "unresolved": [
              {
                "in": "path",
                "name": "fax_id",
                "source": {
                  "kind": "runtime",
                  "reason": "provider-state"
                }
              }
            ]
          }
        }
      }
    },
    "/fax/files/{fax_id}": {
      "get": {
        "tags": [
          "Fax"
        ],
        "summary": "下载传真文件",
        "description": "下载与传真相关的文件",
        "operationId": "faxFiles",
        "parameters": [
          {
            "name": "fax_id",
            "in": "path",
            "description": "传真号码",
            "required": true,
            "schema": {
              "type": "string",
              "title": "内联结构：Fax Id",
              "example": "example-fax-id"
            },
            "example": "fa5c8a0b0f492d768749333ad6fcc214c111e967"
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "title": "内联结构：Application Pdf"
                }
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "404_example": {
                    "$ref": "#/components/examples/Error404Response"
                  },
                  "410_example": {
                    "$ref": "#/components/examples/Error410Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-meta": {
          "seo": {
            "title": "传真文件 | API 文档 |面向开发人员的 Dropbox 传真",
            "description": "Dropbox Fax API 允许您构建自定义集成。要了解如何列出传真文件，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {},
              "headers": {}
            },
            "expectedStatus": "200",
            "unresolved": [
              {
                "in": "path",
                "name": "fax_id",
                "source": {
                  "kind": "runtime",
                  "reason": "provider-state"
                }
              }
            ]
          }
        }
      }
    },
    "/fax_line/add_user": {
      "put": {
        "tags": [
          "Fax Line"
        ],
        "summary": "添加传真线路用户",
        "description": "授予用户访问指定传真线路的权限。",
        "operationId": "faxLineAddUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FaxLineAddUserRequest"
              },
              "examples": {
                "example": {
                  "$ref": "#/components/examples/FaxLineAddUserRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FaxLineResponse"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/FaxLineResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "404_example": {
                    "$ref": "#/components/examples/Error404Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-meta": {
          "seo": {
            "title": "传真线路添加用户 | API 文档 |面向开发人员的 Dropbox 传真",
            "description": "Dropbox Fax API 允许您构建自定义集成。要了解如何将用户添加到现有传真线路，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {},
              "headers": {}
            },
            "expectedStatus": "200",
            "unresolved": [
              {
                "in": "body",
                "name": "body",
                "source": {
                  "kind": "runtime",
                  "reason": "request-body-requires-user-review"
                }
              }
            ]
          }
        }
      }
    },
    "/fax_line/area_codes": {
      "get": {
        "tags": [
          "Fax Line"
        ],
        "summary": "获取可用的传真线路区号",
        "description": "返回给定州/省和城市的可用区号列表",
        "operationId": "faxLineAreaCodeGet",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "description": "按国家过滤区号",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CA",
                "US",
                "UK"
              ],
              "example": "US",
              "title": "内联结构：Country",
              "x-enum-descriptions": [
                "枚举值 `CA`。",
                "枚举值 `US`。",
                "枚举值 `UK`。"
              ]
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "按州过滤区号",
            "schema": {
              "type": "string",
              "enum": [
                "AK",
                "AL",
                "AR",
                "AZ",
                "CA",
                "CO",
                "CT",
                "DC",
                "DE",
                "FL",
                "GA",
                "HI",
                "IA",
                "ID",
                "IL",
                "IN",
                "KS",
                "KY",
                "LA",
                "MA",
                "MD",
                "ME",
                "MI",
                "MN",
                "MO",
                "MS",
                "MT",
                "NC",
                "ND",
                "NE",
                "NH",
                "NJ",
                "NM",
                "NV",
                "NY",
                "OH",
                "OK",
                "OR",
                "PA",
                "RI",
                "SC",
                "SD",
                "TN",
                "TX",
                "UT",
                "VA",
                "VT",
                "WA",
                "WI",
                "WV",
                "WY"
              ],
              "title": "内联结构：State",
              "x-enum-descriptions": [
                "枚举值 `AK`。",
                "枚举值 `AL`。",
                "枚举值 `AR`。",
                "枚举值 `AZ`。",
                "枚举值 `CA`。",
                "枚举值 `CO`。",
                "枚举值 `CT`。",
                "枚举值 `DC`。",
                "枚举值 `DE`。",
                "枚举值 `FL`。",
                "枚举值 `GA`。",
                "枚举值 `HI`。",
                "枚举值 `IA`。",
                "枚举值 `ID`。",
                "枚举值 `IL`。",
                "枚举值 `IN`。",
                "枚举值 `KS`。",
                "枚举值 `KY`。",
                "枚举值 `LA`。",
                "枚举值 `MA`。",
                "枚举值 `MD`。",
                "枚举值 `ME`。",
                "枚举值 `MI`。",
                "枚举值 `MN`。",
                "枚举值 `MO`。",
                "枚举值 `MS`。",
                "枚举值 `MT`。",
                "枚举值 `NC`。",
                "枚举值 `ND`。",
                "枚举值 `NE`。",
                "枚举值 `NH`。",
                "枚举值 `NJ`。",
                "枚举值 `NM`。",
                "枚举值 `NV`。",
                "枚举值 `NY`。",
                "枚举值 `OH`。",
                "枚举值 `OK`。",
                "枚举值 `OR`。",
                "枚举值 `PA`。",
                "枚举值 `RI`。",
                "枚举值 `SC`。",
                "枚举值 `SD`。",
                "枚举值 `TN`。",
                "枚举值 `TX`。",
                "枚举值 `UT`。",
                "枚举值 `VA`。",
                "枚举值 `VT`。",
                "枚举值 `WA`。",
                "枚举值 `WI`。",
                "枚举值 `WV`。",
                "枚举值 `WY`。"
              ],
              "example": "AK"
            }
          },
          {
            "name": "province",
            "in": "query",
            "description": "按省份过滤区号",
            "schema": {
              "type": "string",
              "enum": [
                "AB",
                "BC",
                "MB",
                "NB",
                "NL",
                "NT",
                "NS",
                "NU",
                "ON",
                "PE",
                "QC",
                "SK",
                "YT"
              ],
              "title": "内联结构：Province",
              "x-enum-descriptions": [
                "枚举值 `AB`。",
                "枚举值 `BC`。",
                "枚举值 `MB`。",
                "枚举值 `NB`。",
                "枚举值 `NL`。",
                "枚举值 `NT`。",
                "枚举值 `NS`。",
                "枚举值 `NU`。",
                "枚举值 `ON`。",
                "枚举值 `PE`。",
                "枚举值 `QC`。",
                "枚举值 `SK`。",
                "枚举值 `YT`。"
              ],
              "example": "AB"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "按城市过滤区号",
            "schema": {
              "type": "string",
              "title": "内联结构：City"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FaxLineAreaCodeGetResponse"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/FaxLineAreaCodeGetResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-meta": {
          "seo": {
            "title": "传真线路获取区号 | API 文档 |面向开发人员的 Dropbox 传真",
            "description": "Dropbox Fax API 允许您构建自定义集成。要了解可用的区号，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {
                "country": "US"
              },
              "headers": {}
            },
            "expectedStatus": "200"
          }
        }
      }
    },
    "/fax_line/create": {
      "post": {
        "tags": [
          "Fax Line"
        ],
        "summary": "购买传真线路",
        "description": "购买新传真线",
        "operationId": "faxLineCreate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FaxLineCreateRequest"
              },
              "examples": {
                "example": {
                  "$ref": "#/components/examples/FaxLineCreateRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FaxLineResponse"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/FaxLineResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "404_example": {
                    "$ref": "#/components/examples/Error404Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-meta": {
          "seo": {
            "title": "购买传真线| API 文档 |面向开发人员的 Dropbox 传真",
            "description": "Dropbox Fax API 允许您构建自定义集成。要了解如何购买新的传真线路，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {},
              "headers": {}
            },
            "expectedStatus": "200",
            "unresolved": [
              {
                "in": "body",
                "name": "body",
                "source": {
                  "kind": "runtime",
                  "reason": "request-body-requires-user-review"
                }
              }
            ]
          }
        }
      }
    },
    "/fax_line": {
      "get": {
        "tags": [
          "Fax Line"
        ],
        "summary": "获取传真线路",
        "description": "返回传真线路的属性和设置。",
        "operationId": "faxLineGet",
        "parameters": [
          {
            "name": "number",
            "in": "query",
            "description": "传真线路号码",
            "required": true,
            "schema": {
              "type": "string",
              "example": "123-123-1234",
              "title": "内联结构：Number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FaxLineResponse"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/FaxLineResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "404_example": {
                    "$ref": "#/components/examples/Error404Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-meta": {
          "seo": {
            "title": "获取传真线路 | API 文档 |面向开发人员的 Dropbox 传真",
            "description": "Dropbox Fax API 允许您构建自定义集成。要了解如何检索传真线路的属性，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {
                "number": "123-123-1234"
              },
              "headers": {}
            },
            "expectedStatus": "200"
          }
        }
      },
      "delete": {
        "tags": [
          "Fax Line"
        ],
        "summary": "删除传真线路",
        "description": "从订阅中删除指定的传真线路。",
        "operationId": "faxLineDelete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FaxLineDeleteRequest"
              },
              "examples": {
                "example": {
                  "$ref": "#/components/examples/FaxLineDeleteRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {}
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "404_example": {
                    "$ref": "#/components/examples/Error404Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-meta": {
          "seo": {
            "title": "删除传真线路 | API 文档 |面向开发人员的 Dropbox 传真",
            "description": "Dropbox Fax API 允许您构建自定义集成。要了解如何删除传真线路，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {},
              "headers": {}
            },
            "expectedStatus": "200",
            "unresolved": [
              {
                "in": "body",
                "name": "body",
                "source": {
                  "kind": "runtime",
                  "reason": "request-body-requires-user-review"
                }
              }
            ]
          }
        }
      }
    },
    "/fax_line/list": {
      "get": {
        "tags": [
          "Fax Line"
        ],
        "summary": "列出传真线路",
        "description": "返回多个传真线路的属性和设置。",
        "operationId": "faxLineList",
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "description": "账户ID",
            "schema": {
              "type": "string",
              "example": "ab55cd14a97219e36b5ff5fe23f2f9329b0c1e97",
              "title": "内联结构：Account Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "要返回传真线路列表的页码。默认为 `1`。",
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1,
              "title": "内联结构：Page"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每页要返回的对象数。必须在 `1` 和 `100` 之间。默认为 `20`。",
            "schema": {
              "type": "integer",
              "default": 20,
              "example": 20,
              "title": "内联结构：Page Size"
            }
          },
          {
            "name": "show_team_lines",
            "in": "query",
            "description": "将属于团队成员的传真线路包含在列表中",
            "schema": {
              "type": "boolean",
              "title": "内联结构：Show Team Lines",
              "example": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FaxLineListResponse"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/FaxLineListResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "操作失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "400_example": {
                    "$ref": "#/components/examples/Error400Response"
                  },
                  "401_example": {
                    "$ref": "#/components/examples/Error401Response"
                  },
                  "402_example": {
                    "$ref": "#/components/examples/Error402Response"
                  },
                  "403_example": {
                    "$ref": "#/components/examples/Error403Response"
                  },
                  "429_example": {
                    "$ref": "#/components/examples/Error429Response"
                  },
                  "4XX_example": {
                    "$ref": "#/components/examples/Error4XXResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "x-meta": {
          "seo": {
            "title": "列出传真线路 | API 文档 |面向开发人员的 Dropbox 传真",
            "description": "Dropbox Fax API 允许您构建自定义集成。要了解如何列出您的传真线路，请单击此处。"
          }
        },
        "x-pontx-documentation-status": "official",
        "x-pontx-evidence": [
          "https://raw.githubusercontent.com/hellosign/hellosign-openapi/f0c7887f2f56fb7a082b5db78a09856df2cb6ccf/openapi-fern.yaml"
        ],
        "x-pontx-verified-at": "2026-08-14",
        "x-pontx-proxy-enabled": false,
        "x-pontx-proxy-disabled-reason": "Hub 不代理 Dropbox Sign 请求。请在本地 SDK 或 CLI 中使用调用者自己的凭据；CLI 对每个 mutation 强制使用与请求绑定且五分钟有效的确认令牌，调用者仍需自行负责审批与数据保留。",
        "x-pontx-request-examples": {
          "default": {
            "summary": "Reviewed local SDK/CLI request",
            "request": {
              "path": {},
              "query": {
                "page": 1,
                "page_size": 20
              },
              "headers": {}
            },
            "expectedStatus": "200"
          }
        }
      }
    },
    "/fax_line/remove_user": {
      "put": {
        "tags": [
          "Fax Line"
        ],
        "summary": "删除传真线路访问",
        "description": "删除用户对指定传真线路的访问权限",
        "operationId": "faxLineRemoveUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FaxLineRemoveUserRequest"
              },
              "examples": {
                "example": {
                  "$ref": "#/components/examples/FaxLineRemoveUserRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Ratelimit-Reset": {
                "$ref": "#/components/headers/X-Ratelimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FaxLineResponse"
                },
                "examples": {
                  "example": {
[...]
