{
  "openapi": "3.0.3",
  "info": {
    "title": "i3Investor SGX 公开股票页面",
    "version": "2026-08-10",
    "description": "由 i3Investor 运营、面向新加坡上市证券的公开 HTML 页面，经观测整理而成。这不是官方开发者 API。本规范记录可复现的页面输入、媒体类型和可按语义提取的字段；使用方必须解析由提供方控制的 HTML，并能容忍模板变更、展示格式值、Cookie 和反机器人控制。",
    "license": { "name": "Proprietary / undocumented" }
  },
  "servers": [{ "url": "https://sgx.i3investor.com", "description": "i3Investor 新加坡门户" }],
  "paths": {
    "/servlets/stk/{code}.jsp": {
      "get": {
        "operationId": "getSgxLegacyStockOverviewPage",
        "deprecated": false,
        "summary": "获取旧版 SGX 股票概览页",
        "description": "返回 i3Investor 旧版桌面股票 HTML；可从 JSON-LD 和可见文本提取新交所代码、SGD 价格、涨跌、区间、成交量及公司资料。",
        "parameters": [{ "name": "code", "in": "path", "required": true, "description": "i3Investor 使用的 SGX 股票代码，不区分大小写。普通股代码通常类似 `D05`；REIT 和权证代码可能包含字母/数字，例如 `A17U`。该网站通常生成小写的规范链接。", "schema": { "type": "string", "pattern": "^[A-Za-z0-9]{1,12}$", "minLength": 1, "maxLength": 12 }, "example": "d05" }],
        "responses": {
          "200": { "description": "由提供方控制的 HTML 文档，观测到的 `Content-Type` 为 `text/html;charset=UTF-8`。收到 200 响应时仍必须核对请求的股票代码：观测到未知代码返回的是 HTTP 200 的股票搜索 HTML 页面，而不是 404。", "content": { "text/html": { "schema": { "$ref": "#/components/schemas/LegacyStockHtml" }, "example": "<!DOCTYPE html><html><head><script type=\"application/ld+json\">{\"@type\":\"WebPage\",\"offers\":{\"@type\":\"Offer\",\"price\":\"76.09\",\"priceCurrency\":\"SGD\"},\"name\":\"DBS (D05): DBS GROUP HOLDINGS LTD\"}</script>..." } } },
          "404": { "description": "未找到股票页面。为兼容性仍记录此状态，但经验证的未知代码请求返回的是 HTTP 200 的股票搜索 HTML 页面。" },
          "403": { "description": "请求被提供方或 Cloudflare 反机器人控制拒绝。" }
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://sgx.i3investor.com/servlets/stk/d05.jsp",
          "https://sgx.i3investor.com/jsp/stocks.jsp?g=S&s=D"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "验证期间，旧版页面返回 HTTP 200，并包含 JSON-LD 和页面可见的行情字段。HTML 选择器、Cloudflare 行为、Cookie 和展示数据可能在没有版本标识的情况下发生变化；当前 JSON-LD 涵盖价格/币种，但不包含涨跌或成交量。",
        "x-pontx-proxy-headers": { "User-Agent": "Mozilla/5.0" }
      }
    },
    "/web/stock/overview/{code}": {
      "get": {
        "operationId": "getSgxStockOverviewPage",
        "deprecated": false,
        "summary": "获取当前 SGX 股票概览页",
        "description": "返回已验证的 i3Investor 响应式 HTML 页面；应从带标签的可见区域和元数据提取价格、涨跌、成交量、买卖盘和公司说明。",
        "parameters": [{ "name": "code", "in": "path", "required": true, "description": "i3Investor 路由命名空间中的 SGX 股票代码，不区分大小写。", "schema": { "type": "string", "pattern": "^[A-Za-z0-9]{1,12}$", "minLength": 1, "maxLength": 12 }, "example": "D05" }],
        "responses": {
          "200": { "description": "由提供方控制的响应式 HTML 文档，观测到的 `Content-Type` 为 `text/html;charset=UTF-8`。提取值之前，应先验证页面元数据中的发行方/代码：观测到未知代码返回的是 HTTP 200 的 SGX 市场摘要 HTML 页面，而不是 404。", "content": { "text/html": { "schema": { "$ref": "#/components/schemas/ResponsiveStockHtml" }, "example": "<!DOCTYPE html><html lang=\"en\"><head><meta name=\"description\" content=\"Stock name: DBS, Stock Code: D05, Company: DBS Group Holdings Ltd, Sector: Financial and Insurance Activities\"></head><body>...Last Price...76.33...Today's Change...+1.25 (1.664%)...Trading Volume...6,786,400...</body></html>" } } },
          "404": { "description": "未找到股票页面。为兼容性仍记录此状态，但经验证的未知代码请求返回的是 HTTP 200 的 SGX 市场摘要 HTML 页面。" },
          "403": { "description": "请求被提供方或 Cloudflare 反机器人控制拒绝。" }
        },
        "x-pontx-documentation-status": "observed",
        "x-pontx-evidence": [
          "https://sgx.i3investor.com/web/stock/overview/D05",
          "https://sgx.i3investor.com/web/stock/analysis-performance/D05"
        ],
        "x-pontx-verified-at": "2026-08-10",
        "x-pontx-stability-note": "验证期间，响应式页面返回 HTTP 200，并包含带标签的行情字段。其标记结构没有版本标识，与旧版 servlet 模板不同，并且可能在不另行通知的情况下被更改或受 Cloudflare 保护。",
        "x-pontx-proxy-headers": { "User-Agent": "Mozilla/5.0" }
      }
    }
  },
  "components": {
    "schemas": {
      "LegacyStockHtml": { "title": "旧版 SGX 股票 HTML 原始响应", "type": "string", "description": "旧版桌面页面原始 HTML；可提取 JSON-LD 报价、SGD 币种、股票代码、价格、涨跌、区间、成交量和公司资料，但它不是 JSON 接口。" },
      "ResponsiveStockHtml": { "title": "当前 SGX 股票 HTML 原始响应", "type": "string", "description": "当前响应式页面原始 HTML；报价和公司字段是展示格式文本，需按标签和页面区块解析，不能假设与旧版 JSON-LD 结构一致。" }
    }
  }
}
