{
  "openapi": "3.0.3",
  "info": {
    "title": "Frankfurter API",
    "version": "1.0.0",
    "description": "Frankfurter v1 is a free, open-source API for current and historical foreign-exchange reference rates. It requires no API key and provides latest-working-day rates, historical rates, time series, currency filtering, and amount conversion. v1 has been superseded by v2 but, according to the official documentation, will continue to work. Rates normally update around 16:00 CET on working days; dates are stored in UTC, and today's result can change when new rates arrive.\n",
    "contact": {
      "name": "Frankfurter API",
      "url": "https://frankfurter.dev"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/lineofflight/frankfurter/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.frankfurter.dev/v1",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Exchange Rates",
      "description": "Operations for retrieving currency exchange rates"
    },
    {
      "name": "Currencies",
      "description": "Operations for listing supported currencies"
    }
  ],
  "paths": {
    "/latest": {
      "get": {
        "tags": [
          "Exchange Rates"
        ],
        "summary": "Get latest exchange rates",
        "description": "Retrieves the latest working day's exchange rates. Rates normally update around 16:00 CET. By default, returns all available quote currencies with EUR as the base currency. Use `symbols` to reduce the response size.\n",
        "operationId": "getLatestRates",
        "deprecated": true,
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "description": "The amount to be converted (default is 1)",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double",
              "default": 1,
              "minimum": 0,
              "exclusiveMinimum": true,
              "example": 100
            }
          },
          {
            "name": "base",
            "in": "query",
            "description": "Base currency code (three-letter ISO 4217 code)",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{3}$",
              "default": "EUR",
              "example": "USD",
              "enum": [
                "AUD",
                "BRL",
                "CAD",
                "CHF",
                "CNY",
                "CZK",
                "DKK",
                "EUR",
                "GBP",
                "HKD",
                "HUF",
                "IDR",
                "ILS",
                "INR",
                "ISK",
                "JPY",
                "KRW",
                "MXN",
                "MYR",
                "NOK",
                "NZD",
                "PHP",
                "PLN",
                "RON",
                "SEK",
                "SGD",
                "THB",
                "TRY",
                "USD",
                "ZAR"
              ]
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "Comma-separated list of currency codes to limit the response.\nIf not specified, all available currencies are returned.\n",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{3}(,[A-Z]{3})*$",
              "example": "USD,GBP,JPY"
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with exchange rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeRateResponse"
                },
                "examples": {
                  "default": {
                    "summary": "Default latest rates with EUR base",
                    "value": {
                      "amount": 1,
                      "base": "EUR",
                      "date": "2026-01-23",
                      "rates": {
                        "USD": 1.1742,
                        "GBP": 0.8681,
                        "JPY": 185.71
                      }
                    }
                  },
                  "customAmount": {
                    "summary": "Convert 100 EUR to USD and GBP",
                    "value": {
                      "amount": 100,
                      "base": "EUR",
                      "date": "2026-01-23",
                      "rates": {
                        "USD": 117.42,
                        "GBP": 86.81
                      }
                    }
                  },
                  "differentBase": {
                    "summary": "Latest rates with USD as base",
                    "value": {
                      "amount": 1,
                      "base": "USD",
                      "date": "2026-01-23",
                      "rates": {
                        "EUR": 0.85164,
                        "GBP": 0.73931,
                        "JPY": 158.16
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No rates found, for example because a currency is unsupported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalidCurrency": {
                    "summary": "Invalid currency code",
                    "value": {
                      "message": "not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable query parameter, for example an amount that is zero, negative, or not numeric",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "invalid amount"
                }
              }
            }
          }
        }
      }
    },
    "/{date}": {
      "get": {
        "tags": [
          "Exchange Rates"
        ],
        "summary": "Get historical exchange rates",
        "description": "Retrieves rates for a calendar date. Frankfurter stores dates in UTC. Non-working dates resolve to the latest available working-day observation on or before the requested date; the returned `date` therefore may differ from the requested date. Today's result can change when new rates arrive. v1 EUR history begins on 1999-01-04.\n",
        "operationId": "getHistoricalRates",
        "deprecated": true,
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date in ISO 8601 format (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "example": "2024-01-15"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "description": "The amount to be converted (default is 1)",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double",
              "default": 1,
              "minimum": 0,
              "exclusiveMinimum": true
            }
          },
          {
            "name": "base",
            "in": "query",
            "description": "Base currency code (three-letter ISO 4217 code)",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{3}$",
              "default": "EUR",
              "enum": [
                "AUD",
                "BRL",
                "CAD",
                "CHF",
                "CNY",
                "CZK",
                "DKK",
                "EUR",
                "GBP",
                "HKD",
                "HUF",
                "IDR",
                "ILS",
                "INR",
                "ISK",
                "JPY",
                "KRW",
                "MXN",
                "MYR",
                "NOK",
                "NZD",
                "PHP",
                "PLN",
                "RON",
                "SEK",
                "SGD",
                "THB",
                "TRY",
                "USD",
                "ZAR"
              ]
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "Comma-separated list of currency codes to limit the response",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{3}(,[A-Z]{3})*$"
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with historical exchange rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeRateResponse"
                },
                "examples": {
                  "historical": {
                    "summary": "Historical rates for a specific date",
                    "value": {
                      "amount": 1,
                      "base": "EUR",
                      "date": "2024-01-15",
                      "rates": {
                        "USD": 1.0945,
                        "GBP": 0.86075,
                        "JPY": 159.67
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No data available for the specified date",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable date or query parameter, for example an invalid calendar date or amount",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalidDate": {
                    "value": {
                      "message": "invalid date"
                    }
                  },
                  "invalidAmount": {
                    "value": {
                      "message": "invalid amount"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{start_date}..": {
      "get": {
        "tags": [
          "Exchange Rates"
        ],
        "summary": "Get an open-ended time series of exchange rates",
        "description": "Retrieves available working-day exchange-rate observations from a start date through the latest observation. The returned `start_date` can precede the requested calendar date when the range starts on a non-working day, and `end_date` identifies the latest observation available when the response was generated.\n",
        "operationId": "getOpenEndedTimeSeriesRates",
        "deprecated": true,
        "parameters": [
          {
            "name": "start_date",
            "in": "path",
            "description": "Start date in ISO 8601 format (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "example": "2026-08-01"
            }
          },
          {
            "$ref": "#/components/parameters/AmountParam"
          },
          {
            "$ref": "#/components/parameters/BaseParam"
          },
          {
            "$ref": "#/components/parameters/SymbolsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with exchange rates from the requested start through the latest observation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesResponse"
                },
                "example": {
                  "amount": 1,
                  "base": "EUR",
                  "start_date": "2026-07-31",
                  "end_date": "2026-08-07",
                  "rates": {
                    "2026-07-31": {
                      "USD": 1.1485
                    },
                    "2026-08-03": {
                      "USD": 1.1535
                    },
                    "2026-08-07": {
                      "USD": 1.1535
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No data available for the specified start date",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable date or query parameter, for example an invalid calendar date or amount",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{start_date}..{end_date}": {
      "get": {
        "tags": [
          "Exchange Rates"
        ],
        "summary": "Get time series of exchange rates",
        "description": "Retrieves available working-day exchange-rate observations over a date range. The response boundaries describe the first and last observations returned and can differ from the requested calendar boundaries. To fetch through the present, omit the end date in the actual URL as documented by Frankfurter (`YYYY-MM-DD..`).\n",
        "operationId": "getTimeSeriesRates",
        "deprecated": true,
        "parameters": [
          {
            "name": "start_date",
            "in": "path",
            "description": "Start date in ISO 8601 format (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "example": "2024-01-01"
            }
          },
          {
            "name": "end_date",
            "in": "path",
            "description": "End date in ISO 8601 format (YYYY-MM-DD).\nCan be omitted by using format \"start_date..\" to get all rates from start_date onwards.\n",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "example": "2024-01-31"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "description": "The amount to be converted (default is 1)",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double",
              "default": 1,
              "minimum": 0,
              "exclusiveMinimum": true
            }
          },
          {
            "name": "base",
            "in": "query",
            "description": "Base currency code (three-letter ISO 4217 code)",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{3}$",
              "default": "EUR",
              "enum": [
                "AUD",
                "BRL",
                "CAD",
                "CHF",
                "CNY",
                "CZK",
                "DKK",
                "EUR",
                "GBP",
                "HKD",
                "HUF",
                "IDR",
                "ILS",
                "INR",
                "ISK",
                "JPY",
                "KRW",
                "MXN",
                "MYR",
                "NOK",
                "NZD",
                "PHP",
                "PLN",
                "RON",
                "SEK",
                "SGD",
                "THB",
                "TRY",
                "USD",
                "ZAR"
              ]
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "Comma-separated list of currency codes to limit the response",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{3}(,[A-Z]{3})*$"
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with time series exchange rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesResponse"
                },
                "examples": {
                  "timeSeries": {
                    "summary": "Time series for a date range",
                    "value": {
                      "amount": 1,
                      "base": "EUR",
                      "start_date": "2023-12-29",
                      "end_date": "2024-01-05",
                      "rates": {
                        "2023-12-29": {
                          "USD": 1.105,
                          "GBP": 0.86905
                        },
                        "2024-01-02": {
                          "USD": 1.0956,
                          "GBP": 0.86645
                        },
                        "2024-01-03": {
                          "USD": 1.0919,
                          "GBP": 0.8647
                        },
                        "2024-01-04": {
                          "USD": 1.0953,
                          "GBP": 0.86278
                        },
                        "2024-01-05": {
                          "USD": 1.0921,
                          "GBP": 0.8621
                        }
                      }
                    }
                  },
                  "openEnded": {
                    "summary": "Open-ended time series (from start_date to latest)",
                    "value": {
                      "amount": 1,
                      "base": "EUR",
                      "start_date": "2024-12-01",
                      "end_date": "2024-12-31",
                      "rates": {
                        "2024-12-01": {
                          "USD": 1.0523,
                          "GBP": 0.8312
                        },
                        "2024-12-02": {
                          "USD": 1.0534,
                          "GBP": 0.8321
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No data available for the specified date range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable date or query parameter, for example an invalid calendar date or amount",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/currencies": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Get list of supported currencies",
        "description": "Returns a list of all currency codes supported by the API along with their full names.\nThis endpoint requires no parameters.\n",
        "operationId": "getCurrencies",
        "deprecated": true,
        "responses": {
          "200": {
            "description": "Successful response with list of supported currencies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrenciesResponse"
                },
                "examples": {
                  "currencies": {
                    "summary": "List of all supported currencies",
                    "value": {
                      "AUD": "Australian Dollar",
                      "BRL": "Brazilian Real",
                      "CAD": "Canadian Dollar",
                      "CHF": "Swiss Franc",
                      "CNY": "Chinese Renminbi Yuan",
                      "CZK": "Czech Koruna",
                      "DKK": "Danish Krone",
                      "EUR": "Euro",
                      "GBP": "British Pound",
                      "HKD": "Hong Kong Dollar",
                      "HUF": "Hungarian Forint",
                      "IDR": "Indonesian Rupiah",
                      "ILS": "Israeli New Shekel",
                      "INR": "Indian Rupee",
                      "ISK": "Icelandic Króna",
                      "JPY": "Japanese Yen",
                      "KRW": "South Korean Won",
                      "MXN": "Mexican Peso",
                      "MYR": "Malaysian Ringgit",
                      "NOK": "Norwegian Krone",
                      "NZD": "New Zealand Dollar",
                      "PHP": "Philippine Peso",
                      "PLN": "Polish Złoty",
                      "RON": "Romanian Leu",
                      "SEK": "Swedish Krona",
                      "SGD": "Singapore Dollar",
                      "THB": "Thai Baht",
                      "TRY": "Turkish Lira",
                      "USD": "United States Dollar",
                      "ZAR": "South African Rand"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ExchangeRateResponse": {
        "type": "object",
        "description": "Response containing exchange rates for a single date",
        "required": [
          "amount",
          "base",
          "date",
          "rates"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "double",
            "description": "The amount used for conversion",
            "example": 1,
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "base": {
            "type": "string",
            "description": "The base currency code (ISO 4217)",
            "pattern": "^[A-Z]{3}$",
            "example": "EUR"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "The date of the exchange rates in ISO 8601 format",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "example": "2026-01-23"
          },
          "rates": {
            "type": "object",
            "description": "Exchange rates as key-value pairs (currency code to rate)",
            "additionalProperties": {
              "type": "number",
              "format": "double"
            },
            "example": {
              "USD": 1.0445,
              "GBP": 0.8342,
              "JPY": 161.23,
              "CHF": 0.9234,
              "AUD": 1.6111
            }
          }
        }
      },
      "TimeSeriesResponse": {
        "type": "object",
        "description": "Response containing exchange rates for a date range",
        "required": [
          "amount",
          "base",
          "start_date",
          "end_date",
          "rates"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "double",
            "description": "The amount used for conversion",
            "example": 1,
            "minimum": 0
          },
          "base": {
            "type": "string",
            "description": "The base currency code (ISO 4217)",
            "pattern": "^[A-Z]{3}$",
            "example": "EUR"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "description": "The start date of the time series",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "example": "2023-12-29"
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "description": "The end date of the time series",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "example": "2024-01-31"
          },
          "rates": {
            "type": "object",
            "description": "Exchange rates organized by date",
            "additionalProperties": {
              "type": "object",
              "description": "Exchange rates for a specific date",
              "additionalProperties": {
                "type": "number",
                "format": "double"
              }
            },
            "example": {
              "2024-01-01": {
                "USD": 1.1047,
                "GBP": 0.8692
              },
              "2024-01-02": {
                "USD": 1.1023,
                "GBP": 0.8671
              }
            }
          }
        }
      },
      "CurrenciesResponse": {
        "type": "object",
        "description": "Map of currency codes to their full names",
        "additionalProperties": {
          "type": "string"
        },
        "example": {
          "EUR": "Euro",
          "USD": "United States Dollar",
          "GBP": "British Pound",
          "JPY": "Japanese Yen",
          "AUD": "Australian Dollar"
        }
      },
      "Error": {
        "type": "object",
        "description": "Error response",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message returned by the service",
            "example": "not found"
          }
        }
      }
    },
    "parameters": {
      "AmountParam": {
        "name": "amount",
        "in": "query",
        "description": "The amount to be converted (default is 1)",
        "required": false,
        "schema": {
          "type": "number",
          "format": "double",
          "default": 1,
          "minimum": 0,
          "exclusiveMinimum": true
        }
      },
      "BaseParam": {
        "name": "base",
        "in": "query",
        "description": "Base currency code (three-letter ISO 4217 code)",
        "required": false,
        "schema": {
          "type": "string",
          "pattern": "^[A-Z]{3}$",
          "default": "EUR"
        }
      },
      "SymbolsParam": {
        "name": "symbols",
        "in": "query",
        "description": "Comma-separated list of currency codes to limit the response",
        "required": false,
        "schema": {
          "type": "string",
          "pattern": "^[A-Z]{3}(,[A-Z]{3})*$"
        },
        "style": "form",
        "explode": false
      }
    }
  },
  "externalDocs": {
    "description": "Official Frankfurter API Documentation",
    "url": "https://frankfurter.dev"
  }
}
